saatana-crypto-phelix.spark              => (Flow  => <t>,
                                             Proof => <t>)
test_phelix_api.spark                    => (Flow  => <t>,
                                             Proof => <t>)
saatana-crypto.spark                     => (Flow  => <t>,
                                             Proof => <t>)
saatana.spark                            => (Flow  => <t>,
                                             Proof => <t>)
test_phelix.spark                        => (Flow  => <t>,
                                             Proof => <t>)
saatana-crypto-stream_tools.spark        => (Flow  => <t>,
                                             Proof => <t>)
saatana-crypto-phelix-test_vectors.spark => (Flow  => <t>,
                                             Proof => <t>)
Saatana.Crypto.Phelix.Encrypt_Bytes        => <t>/<t>
`-VC_POSTCONDITION saatana-crypto-phelix.ads:265:18 => <t>/<t>
 `-CVC4: <t> (Unknown (unknown))
  -Z3: <t> (Unknown (unknown))
  -CVC4_CE: <t> (Unknown (unknown))
  -altergo: <t> (Failure (steps:2))
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:231:19 => <t>/<t>
 `-Z3: <t> (Unknown (unknown))
  -CVC4: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:252:39 => <t>/<t>
 `-CVC4: <t> (Valid)
  -Z3: <t> (Unknown (unknown))
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:232:38 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:232:38 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:229:47 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_INDEX_CHECK saatana-crypto-phelix.adb:253:54 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:249:39 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_INITIALIZATION_CHECK saatana-crypto-phelix.adb:229:47 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:249:39 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:250:113 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:240:39 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:249:71 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:231:56 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_LOOP_VARIANT saatana-crypto-phelix.adb:244:16 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:250:103 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:252:39 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:229:47 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:222:38 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:249:61 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:221:38 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:237:61 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:205:22 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:228:100 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_ASSERT saatana-crypto-phelix.adb:262:22 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:224:41 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:219:74 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:232:40 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:237:61 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:224:41 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:228:100 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:213:55 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:212:50 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.ads:265:87 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:265:87 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:200:61 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:200:61 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:261:37 => <t>/<t>
 `-Z3: <t> (Valid)
Saatana.Crypto.Phelix.Decrypt_Bytes        => <t>/<t>
`-VC_POSTCONDITION saatana-crypto-phelix.ads:295:18 => <t>/<t>
 `-CVC4: <t> (Unknown (unknown))
  -Z3: <t> (Unknown (unknown))
  -CVC4_CE: <t> (Unknown (unknown))
  -altergo: <t> (Failure (steps:2))
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:149:41 => <t>/<t>
 `-CVC4: <t> (Unknown (unknown))
  -CVC4_CE: <t> (Unknown (unknown))
  -Z3: <t> (Unknown (unknown))
  -altergo: <t> (Failure (steps:2))
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:127:37 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:126:19 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:127:37 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:124:34 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_INDEX_CHECK saatana-crypto-phelix.adb:124:108 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_INDEX_CHECK saatana-crypto-phelix.adb:149:54 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:145:39 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:145:39 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:145:71 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:146:111 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:135:40 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_INITIALIZATION_CHECK saatana-crypto-phelix.adb:124:34 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:126:56 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:124:34 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:146:101 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:145:61 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:107:38 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:148:39 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:108:38 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:92:22 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:132:61 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:115:96 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LOOP_VARIANT saatana-crypto-phelix.adb:139:16 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_ASSERT saatana-crypto-phelix.adb:158:22 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:110:41 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:105:74 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:127:39 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:132:61 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:110:41 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:115:96 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:99:54 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:98:49 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.ads:295:87 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:295:87 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:87:61 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:87:61 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:291:37 => <t>/<t>
 `-Z3: <t> (Valid)
Saatana.Crypto.Phelix.Setup_Key            => <t>/<t>
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:546:42 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:545:49 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:545:49 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
 `-Trivial: <t> (Valid)
 `-Trivial: <t> (Valid)
 `-Trivial: <t> (Valid)
 `-Trivial: <t> (Valid)
 `-Trivial: <t> (Valid)
 `-Trivial: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:466:44 => <t>/<t>
 `-CVC4: <t> (Unknown (unknown))
  -CVC4_CE: <t> (Unknown (unknown))
  -Z3: <t> (Unknown (unknown))
  -altergo: <t> (Failure (steps:2))
`-VC_POSTCONDITION saatana-crypto-phelix.ads:187:17 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:504:48 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:508:36 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:534:48 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:525:28 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:506:19 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:508:36 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:509:113 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:509:69 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:504:48 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:502:45 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:500:46 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:500:62 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:506:19 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:500:116 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.ads:189:43 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:508:51 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:466:49 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:487:58 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_PREDICATE_CHECK saatana-crypto-phelix.adb:466:44 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:487:36 => <t>/<t>
 `-Z3: <t> (Valid)
Test_Phelix_API                            => <t>/<t>
`-VC_PRECONDITION test_phelix_api.adb:132:25 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_PRECONDITION test_phelix_api.adb:119:25 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_PRECONDITION test_phelix_api.adb:99:25 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_LENGTH_CHECK test_phelix_api.adb:98:20 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_PRECONDITION test_phelix_api.adb:101:25 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_RANGE_CHECK test_phelix_api.adb:83:22 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK test_phelix_api.adb:97:4 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_PRECONDITION test_phelix_api.adb:77:25 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_PRECONDITION test_phelix_api.adb:80:25 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_RANGE_CHECK test_phelix_api.adb:79:4 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LENGTH_CHECK test_phelix_api.adb:79:44 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_RANGE_CHECK test_phelix_api.adb:104:22 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_INITIALIZATION_CHECK test_phelix_api.adb:144:16 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_INITIALIZATION_CHECK test_phelix_api.adb:144:33 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_PRECONDITION test_phelix_api.adb:105:25 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK test_phelix_api.adb:100:47 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK test_phelix_api.adb:135:51 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK test_phelix_api.adb:136:18 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LENGTH_CHECK test_phelix_api.adb:59:69 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_RANGE_CHECK test_phelix_api.adb:103:22 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK test_phelix_api.adb:98:39 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LENGTH_CHECK test_phelix_api.adb:58:69 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_PRECONDITION test_phelix_api.adb:95:25 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LENGTH_CHECK test_phelix_api.adb:79:27 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_RANGE_CHECK test_phelix_api.adb:144:33 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_PRECONDITION test_phelix_api.adb:129:25 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_LENGTH_CHECK test_phelix_api.adb:97:27 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_PRECONDITION test_phelix_api.adb:116:25 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_PRECONDITION test_phelix_api.adb:75:25 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_PRECONDITION test_phelix_api.adb:84:25 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK test_phelix_api.adb:98:39 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK test_phelix_api.adb:55:12 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_PRECONDITION test_phelix_api.adb:92:25 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK test_phelix_api.adb:53:12 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK test_phelix_api.adb:51:12 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK test_phelix_api.adb:51:12 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK test_phelix_api.adb:51:12 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_PRECONDITION test_phelix_api.adb:72:25 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_PREDICATE_CHECK test_phelix_api.adb:94:60 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK test_phelix_api.adb:135:51 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK test_phelix_api.adb:79:64 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_PREDICATE_CHECK test_phelix_api.adb:131:60 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_PREDICATE_CHECK test_phelix_api.adb:74:60 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_PREDICATE_CHECK test_phelix_api.adb:118:60 => <t>/<t>
 `-Z3: <t> (Valid)
Saatana.Crypto.Phelix.Finalize             => <t>/<t>
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:360:35 => <t>/<t>
 `-CVC4: <t> (Unknown (unknown))
  -CVC4_CE: <t> (Unknown (unknown))
  -Z3: <t> (Unknown (unknown))
  -altergo: <t> (Failure (steps:2))
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:342:16 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:355:33 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:364:11 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_POSTCONDITION saatana-crypto-phelix.ads:314:17 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:364:14 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_INDEX_CHECK saatana-crypto-phelix.adb:360:40 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:355:33 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:342:52 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:342:49 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:348:55 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LOOP_VARIANT saatana-crypto-phelix.adb:352:10 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:339:94 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:330:52 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:364:14 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_INITIALIZATION_CHECK saatana-crypto-phelix.adb:364:14 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:359:33 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:348:55 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:330:52 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:339:50 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:356:77 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:339:94 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:324:67 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:321:37 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:313:65 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:323:67 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:324:67 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:323:67 => <t>/<t>
 `-Z3: <t> (Valid)
Saatana.Crypto.Phelix.Setup_Nonce          => <t>/<t>
`-VC_POSTCONDITION saatana-crypto-phelix.ads:206:17 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:566:32 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:590:27 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:566:32 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:566:114 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:566:90 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:566:51 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
Saatana.Crypto.Phelix.Process_AAD          => <t>/<t>
`-VC_POSTCONDITION saatana-crypto-phelix.ads:233:17 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:440:53 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:446:38 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_INITIALIZATION_CHECK saatana-crypto-phelix.adb:440:53 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:440:53 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:452:39 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LOOP_VARIANT saatana-crypto-phelix.adb:449:16 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:433:38 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:443:61 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:452:39 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:431:72 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:430:74 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:431:72 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:443:61 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:425:43 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:418:42 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:231:37 => <t>/<t>
 `-Z3: <t> (Valid)
Saatana.Crypto.Phelix.Encrypt_Packet       => <t>/<t>
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:279:7 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:283:37 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_PRECONDITION saatana-crypto-phelix.adb:277:7 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_PRECONDITION saatana-crypto-phelix.adb:281:7 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_POSTCONDITION saatana-crypto-phelix.ads:130:17 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:279:68 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:279:65 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_ASSERT saatana-crypto-phelix.adb:292:22 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_PRECONDITION saatana-crypto-phelix.adb:285:7 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_PRECONDITION saatana-crypto-phelix.adb:275:7 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:279:60 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:279:44 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:283:58 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:279:87 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:129:65 => <t>/<t>
 `-Z3: <t> (Valid)
Saatana.Crypto.Phelix.Decrypt_Packet       => <t>/<t>
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:175:7 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_PRECONDITION saatana-crypto-phelix.adb:173:7 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:179:37 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_PRECONDITION saatana-crypto-phelix.adb:177:7 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_POSTCONDITION saatana-crypto-phelix.ads:171:17 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:175:65 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:175:68 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_ASSERT saatana-crypto-phelix.adb:188:22 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Trivial: <t> (Valid)
`-VC_PRECONDITION saatana-crypto-phelix.adb:181:7 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:175:44 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_PRECONDITION saatana-crypto-phelix.adb:171:7 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:175:60 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:179:58 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:170:65 => <t>/<t>
 `-Z3: <t> (Valid)
Saatana.Crypto.To_Stream                   => <t>/<t>
`-VC_POSTCONDITION saatana-crypto.ads:58:17 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto.ads:86:36 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto.ads:61:73 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto.ads:85:36 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto.ads:59:73 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto.ads:87:36 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto.ads:60:73 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto.ads:88:36 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto.ads:62:73 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto.ads:88:26 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto.ads:85:26 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto.ads:88:36 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto.ads:62:73 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto.ads:60:73 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto.ads:87:26 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto.ads:85:36 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto.ads:86:26 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto.ads:61:73 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto.ads:59:73 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto.ads:86:36 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_DIVISION_CHECK saatana-crypto.ads:87:36 => <t>/<t>
 `-Z3: <t> (Valid)
Saatana.Crypto.To_Unsigned                 => <t>/<t>
`-VC_POSTCONDITION saatana-crypto.ads:44:17 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_INDEX_CHECK saatana-crypto.ads:99:61 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_INDEX_CHECK saatana-crypto.ads:45:106 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_INDEX_CHECK saatana-crypto.ads:97:61 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_INDEX_CHECK saatana-crypto.ads:44:99 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_INDEX_CHECK saatana-crypto.ads:47:106 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_INDEX_CHECK saatana-crypto.ads:98:61 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_INDEX_CHECK saatana-crypto.ads:100:61 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_INDEX_CHECK saatana-crypto.ads:46:106 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto.ads:100:61 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto.ads:98:61 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto.ads:99:61 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto.ads:47:106 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto.ads:46:106 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto.ads:97:61 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto.ads:45:106 => <t>/<t>
 `-Z3: <t> (Valid)
Saatana.Crypto.Phelix.H                    => <t>/<t>
`-VC_POSTCONDITION saatana-crypto-phelix.adb:49:17 => <t>/<t>
 `-Z3: <t> (Unknown (unknown))
  -CVC4: <t> (Unknown (unknown))
  -CVC4_CE: <t> (Unknown (sat))
  -altergo: <t> (Failure (steps:2))
Saatana.Crypto.Phelix.Exclusive_Or         => <t>/<t>
`-VC_INDEX_CHECK saatana-crypto-phelix.adb:304:89 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:303:33 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_INDEX_CHECK saatana-crypto-phelix.adb:304:45 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_INDEX_CHECK saatana-crypto-phelix.adb:304:72 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_POSTCONDITION saatana-crypto-phelix.adb:23:17 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:303:33 => <t>/<t>
 `-Z3: <t> (Valid)
Saatana.Crypto.Oadd                        => <t>/<t>
`-VC_INDEX_CHECK saatana-crypto.adb:50:42 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_INDEX_CHECK saatana-crypto.adb:51:41 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_INDEX_CHECK saatana-crypto.adb:50:42 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
`-VC_RANGE_CHECK saatana-crypto.adb:48:78 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto.adb:48:63 => <t>/<t>
 `-Z3: <t> (Valid)
`-VC_OVERFLOW_CHECK saatana-crypto.adb:48:78 => <t>/<t>
 `-Z3: <t> (Valid)
Saatana.Crypto.Oadd.Add_Carry              => <t>/<t>
`-VC_POSTCONDITION saatana-crypto.adb:27:20 => <t>/<t>
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
 `-Z3: <t> (Valid)
Saatana.Crypto.Phelix.Key_Size_32Predicate => <t>/<t>
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:61:39 => <t>/<t>
 `-Z3: <t> (Valid)
Saatana.Crypto.Phelix.MAC_Size_32Predicate => <t>/<t>
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:58:39 => <t>/<t>
 `-Z3: <t> (Valid)
Saatana.Crypto.Phelix.Ctx_I                => <t>/<t>
Saatana.Crypto.Phelix.Context              => <t>/<t>
Saatana.Crypto.Phelix                      => <t>/<t>
Saatana.Crypto.Phelix.Ctx_AAD_Len          => <t>/<t>
Saatana.Crypto.Phelix.Ctx_Msg_Len          => <t>/<t>
Saatana.Crypto.Phelix.Ctx_Key_Size         => <t>/<t>
Saatana                                    => <t>/<t>
Saatana.Crypto.Phelix.Setup_Nonce_Called   => <t>/<t>
Saatana.Crypto.Phelix.Ctx_Mac_Size         => <t>/<t>
Saatana.Crypto.Phelix.Setup_Key_Called     => <t>/<t>
Saatana.Crypto                             => <t>/<t>
