Saatana.Crypto.Phelix.Encrypt_Bytes                =>                                                            174.3 s (8585912 steps)/174.3 s (8585912 steps)/189.0 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:231:19  => 174.3 s (8585912 steps)/174.3 s (8585912 steps)/175.0 s
 `-Z3: 174.3 s, 8585912 steps, Valid
 `-Z3: 180.0 ms, 188199 steps, Valid
 `-Z3: 120.0 ms, 119094 steps, Valid
 `-Z3: 90.0 ms, 128229 steps, Valid
 `-Z3: 90.0 ms, 108667 steps, Valid
 `-Z3: 90.0 ms, 108685 steps, Valid
 `-Z3: 70.0 ms, 61319 steps, Valid
 `-Z3: 60.0 ms, 41844 steps, Valid
Saatana.Crypto.Phelix.H                            =>                                                            6.0 s (11657168 steps)/6.0 s (11657168 steps)/6.0 s
`-VC_POSTCONDITION saatana-crypto-phelix.adb:49:17 => 6.0 s (11657168 steps)/6.0 s (11657168 steps)/6.0 s
 `-Z3: 6.0 s, 11657168 steps, Valid
Saatana.Crypto.Phelix.Setup_Key                    =>                                                            640.0 ms (416173 steps)/206.4 s (105312169 steps)/219.2 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:466:44  => 640.0 ms (22722 steps)/206.4 s (105312169 steps)/207.1 s
 `-Z3: 206.4 s, 105312169 steps, Unknown (unknown)
  -CVC4: 640.0 ms, 22722 steps, Valid
