SPARKNaCl.ASR_16                                      =>                         --/5.7 s/5.9 s
`-VC_POSTCONDITION sparknacl.ads:355:35               => --/5.7 s/5.8 s
 `-Z3: 5.7 s, 11650768 steps, Unknown (unknown)
  -CVC4: 80.0 ms, 993 steps, Unknown (unknown)
Justified with: "From definition of arithmetic shift right".
SPARKNaCl.Omultiply                                   =>                         700.0 ms/19.1 s/28.6 s
`-VC_LOOP_INVARIANT_PRESERV sparknacl.adb:164:13      => 40.0 ms/19.1 s/19.1 s
 `-CVC4: 19.1 s, 505013 steps, Unknown (unknown)
  -Z3: 40.0 ms, 68029 steps, Valid
SPARKNaCl.Sign.Sign                                   =>                         --/57.6 s/489.2 s
`-VC_OVERFLOW_CHECK sparknacl-sign.adb:890:36         => --/57.6 s/238.7 s
 `-CVC4: 57.6 s, 505002 steps, Unknown (unknown)
  -Z3: 4.3 s, 5205347 steps, Valid
 `-CVC4: 51.6 s, 505013 steps, Unknown (unknown)
  -Z3: 7.9 s, 11654552 steps, Unknown (unknown)
 `-CVC4: 50.5 s, 505013 steps, Unknown (unknown)
  -Z3: 8.8 s, 11654285 steps, Unknown (unknown)
 `-CVC4: 50.7 s, 505013 steps, Unknown (unknown)
  -Z3: 7.2 s, 11654931 steps, Unknown (unknown)
`-VC_LOOP_INVARIANT_PRESERV sparknacl-sign.adb:896:16 => 8.2 s/51.5 s/115.1 s
 `-CVC4: 51.5 s, 505013 steps, Unknown (unknown)
  -Z3: 8.2 s, 11655208 steps, Valid
 `-CVC4: 51.1 s, 505021 steps, Unknown (unknown)
  -Z3: 4.3 s, 5928053 steps, Valid
`-VC_LOOP_INVARIANT_INIT sparknacl-sign.adb:896:16    => 6.0 s/51.0 s/112.4 s
 `-CVC4: 51.0 s, 505002 steps, Unknown (unknown)
  -Z3: 6.0 s, 7527875 steps, Valid
 `-CVC4: 50.9 s, 505013 steps, Unknown (unknown)
  -Z3: 4.6 s, 7312012 steps, Valid
