Warning: Sorting files by success time not implemented yet, falling back to maximum time.
saatana-crypto-phelix.spark              => (Flow  => 206.5 ms,
                                             Proof => 174.3 s/206.4 s/568.7 s)
test_phelix_api.spark                    => (Flow  => 14.4 ms,
                                             Proof => 240.0 ms/240.0 ms/23.1 s)
saatana-crypto.spark                     => (Flow  => 9.0 ms,
                                             Proof => 80.0 ms/80.0 ms/6.8 s)
saatana-crypto-lemmas.spark              => (Flow  => 2.1 ms,
                                             Proof => 210.0 ms/210.0 ms/2.2 s)
saatana.spark                            => (Flow  => 464.0 µs,
                                             Proof => 0.0 s/0.0 s/0.0 s)
test_phelix.spark                        => (Flow  => 180.0 µs,
                                             Proof => 0.0 s/0.0 s/0.0 s)
saatana-crypto-stream_tools.spark        => (Flow  => 71.0 µs,
                                             Proof => 0.0 s/0.0 s/0.0 s)
saatana-crypto-phelix-test_vectors.spark => (Flow  => 24.0 µs,
                                             Proof => 0.0 s/0.0 s/0.0 s)
Saatana.Crypto.Phelix.Setup_Key => 640.0 ms/206.4 s/219.2 s
