Warning: Sorting by max steps ("-cp") not implemented yet, reverting to sorting by max time ("-ct").
Saatana.Crypto.Phelix.Setup_Key                    =>                                                            640.0 ms (416173 steps)/206.4 s (105312169 steps)/219.2 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:466:44  => 640.0 ms (22722 steps)/206.4 s (105312169 steps)/207.1 s
Saatana.Crypto.Phelix.Encrypt_Bytes                =>                                                            174.3 s (8585912 steps)/174.3 s (8585912 steps)/189.0 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:231:19  => 174.3 s (8585912 steps)/174.3 s (8585912 steps)/175.0 s
Saatana.Crypto.Phelix.H                            =>                                                            6.0 s (11657168 steps)/6.0 s (11657168 steps)/6.0 s
`-VC_POSTCONDITION saatana-crypto-phelix.adb:49:17 => 6.0 s (11657168 steps)/6.0 s (11657168 steps)/6.0 s
