Saatana.Crypto.Phelix.Decrypt_Bytes                          =>                            4.0 s/4.0 s/18.6 s
`-VC_POSTCONDITION saatana-crypto-phelix.ads:292:17          => 4.0 s/4.0 s/5.2 s
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:148:39 => 2.6 s/2.6 s/2.6 s
Saatana.Crypto.Phelix.Encrypt_Bytes                          =>                            174.3 s/174.3 s/189.0 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:231:19            => 174.3 s/174.3 s/175.0 s
`-VC_POSTCONDITION saatana-crypto-phelix.ads:262:17          => 2.0 s/2.0 s/3.2 s
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:252:39    => 1.1 s/1.1 s/1.1 s
Saatana.Crypto.Phelix.Finalize                               =>                            2.2 s/2.2 s/7.7 s
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:359:33 => 2.2 s/2.2 s/2.2 s
Saatana.Crypto.Phelix.H                                      =>                            6.0 s/6.0 s/6.0 s
`-VC_POSTCONDITION saatana-crypto-phelix.adb:49:17           => 6.0 s/6.0 s/6.0 s
Saatana.Crypto.Phelix.Setup_Key                              =>                            640.0 ms/206.4 s/219.2 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:466:44            => 640.0 ms/206.4 s/207.1 s
