Saatana.Crypto.Phelix.Encrypt_Bytes                =>                            174.3 s/174.3 s/189.0 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:231:19  => 174.3 s/174.3 s/175.0 s
 `-Z3: 174.3 s (Valid, 8585912 steps)
 `-Z3: 180.0 ms (Valid, 188199 steps)
 `-Z3: 120.0 ms (Valid, 119094 steps)
 `-Z3: 90.0 ms (Valid, 128229 steps)
 `-Z3: 90.0 ms (Valid, 108667 steps)
 `-Z3: 90.0 ms (Valid, 108685 steps)
 `-Z3: 70.0 ms (Valid, 61319 steps)
 `-Z3: 60.0 ms (Valid, 41844 steps)
Saatana.Crypto.Phelix.H                            =>                            6.0 s/6.0 s/6.0 s
`-VC_POSTCONDITION saatana-crypto-phelix.adb:49:17 => 6.0 s/6.0 s/6.0 s
 `-Z3: 6.0 s (Valid, 11657168 steps)
Saatana.Crypto.Phelix.Setup_Key                    =>                            640.0 ms/206.4 s/219.2 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:466:44  => 640.0 ms/206.4 s/207.1 s
 `-Z3: 206.4 s (Unknown (unknown), 105312169 steps)
  -CVC4: 640.0 ms (Valid, 22722 steps)
