Warning: Sorting by max success steps ("-cq") not implemented yet, reverting to sorting by max success time ("-cs").
Saatana.Crypto.Phelix.Encrypt_Bytes                          =>                                                          174.3 s, 8585912 steps/174.3 s, 8585912 steps/189.0 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:231:19            => 174.3 s, 8585912 steps/174.3 s, 8585912 steps/175.0 s
`-VC_POSTCONDITION saatana-crypto-phelix.ads:262:17          => 2.0 s, 905374 steps/2.0 s, 905374 steps/3.2 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:232:38            => 190.0 ms, 201794 steps/190.0 ms, 201794 steps/1.2 s
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:252:39    => 1.1 s, 1108158 steps/1.1 s, 1108158 steps/1.1 s
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:232:38           => 200.0 ms, 198801 steps/200.0 ms, 198801 steps/920.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:229:47            => 170.0 ms, 178800 steps/170.0 ms, 178800 steps/810.0 ms
`-VC_INDEX_CHECK saatana-crypto-phelix.adb:253:54            => 180.0 ms, 208678 steps/180.0 ms, 208678 steps/470.0 ms
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:249:39    => 160.0 ms, 153676 steps/160.0 ms, 153676 steps/450.0 ms
`-VC_INITIALIZATION_CHECK saatana-crypto-phelix.adb:229:47   => 340.0 ms, 413229 steps/340.0 ms, 413229 steps/440.0 ms
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:249:39 => 170.0 ms, 208230 steps/170.0 ms, 208230 steps/390.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:250:113        => 200.0 ms, 213806 steps/200.0 ms, 213806 steps/350.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:240:39            => 210.0 ms, 215003 steps/210.0 ms, 215003 steps/340.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:249:71         => 200.0 ms, 214249 steps/200.0 ms, 214249 steps/330.0 ms
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:231:56           => 60.0 ms, 21330 steps/60.0 ms, 21330 steps/310.0 ms
`-VC_LOOP_VARIANT saatana-crypto-phelix.adb:244:16           => 290.0 ms, 305515 steps/290.0 ms, 305515 steps/290.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:229:47            => 170.0 ms, 190249 steps/170.0 ms, 190249 steps/270.0 ms
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:252:39 => 260.0 ms, 257996 steps/260.0 ms, 257996 steps/260.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:250:103        => 160.0 ms, 154505 steps/160.0 ms, 154505 steps/260.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:249:61         => 140.0 ms, 142605 steps/140.0 ms, 142605 steps/250.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:221:38            => 160.0 ms, 171463 steps/160.0 ms, 171463 steps/240.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:222:38            => 160.0 ms, 172252 steps/160.0 ms, 172252 steps/240.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:237:61            => 60.0 ms, 23393 steps/60.0 ms, 23393 steps/220.0 ms
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:205:22           => 80.0 ms, 87720 steps/80.0 ms, 87720 steps/200.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:228:100           => 50.0 ms, 19038 steps/50.0 ms, 19038 steps/190.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:224:41            => 50.0 ms, 17363 steps/50.0 ms, 17363 steps/180.0 ms
`-VC_ASSERT saatana-crypto-phelix.adb:262:22                 => 170.0 ms, 206414 steps/170.0 ms, 206414 steps/170.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:219:74            => 80.0 ms, 104335 steps/80.0 ms, 104335 steps/130.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:237:61         => 60.0 ms, 23353 steps/60.0 ms, 23353 steps/110.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:228:100        => 60.0 ms, 18998 steps/60.0 ms, 18998 steps/100.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:232:40            => 60.0 ms, 27814 steps/60.0 ms, 27814 steps/100.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:224:41         => 50.0 ms, 17323 steps/50.0 ms, 17323 steps/90.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:212:50            => 80.0 ms, 87840 steps/80.0 ms, 87840 steps/80.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:213:55            => 70.0 ms, 89784 steps/70.0 ms, 89784 steps/70.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.ads:265:87            => 60.0 ms, 18926 steps/60.0 ms, 18926 steps/60.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:265:87         => 50.0 ms, 18880 steps/50.0 ms, 18880 steps/50.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:200:61         => 40.0 ms, 9318 steps/40.0 ms, 9318 steps/40.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:261:37         => 40.0 ms, 9272 steps/40.0 ms, 9272 steps/40.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:200:61            => 30.0 ms, 9356 steps/30.0 ms, 9356 steps/30.0 ms
Saatana.Crypto.Phelix.H                                      =>                                                          6.0 s, 11657168 steps/6.0 s, 11657168 steps/6.0 s
`-VC_POSTCONDITION saatana-crypto-phelix.adb:49:17           => 6.0 s, 11657168 steps/6.0 s, 11657168 steps/6.0 s
Saatana.Crypto.Phelix.Decrypt_Bytes                          =>                                                          4.0 s, 3114117 steps/4.0 s, 3114117 steps/18.6 s
`-VC_POSTCONDITION saatana-crypto-phelix.ads:292:17          => 4.0 s, 1090965 steps/4.0 s, 1090965 steps/5.2 s
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:148:39 => 2.6 s, 3114117 steps/2.6 s, 3114117 steps/2.6 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:127:37            => 200.0 ms, 209285 steps/200.0 ms, 209285 steps/1.0 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:126:19            => 200.0 ms, 203224 steps/200.0 ms, 203224 steps/890.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:124:34            => 190.0 ms, 188457 steps/190.0 ms, 188457 steps/860.0 ms
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:127:37           => 210.0 ms, 228671 steps/210.0 ms, 228671 steps/810.0 ms
`-VC_INDEX_CHECK saatana-crypto-phelix.adb:124:108           => 180.0 ms, 197081 steps/180.0 ms, 197081 steps/540.0 ms
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:145:39    => 170.0 ms, 165110 steps/170.0 ms, 165110 steps/480.0 ms
`-VC_INDEX_CHECK saatana-crypto-phelix.adb:149:54            => 200.0 ms, 226945 steps/200.0 ms, 226945 steps/470.0 ms
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:145:39 => 200.0 ms, 226380 steps/200.0 ms, 226380 steps/440.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:145:71         => 220.0 ms, 233297 steps/220.0 ms, 233297 steps/360.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:146:111        => 210.0 ms, 232830 steps/210.0 ms, 232830 steps/360.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:135:40            => 210.0 ms, 232300 steps/210.0 ms, 232300 steps/360.0 ms
`-VC_INITIALIZATION_CHECK saatana-crypto-phelix.adb:124:34   => 230.0 ms, 259184 steps/230.0 ms, 259184 steps/350.0 ms
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:126:56           => 60.0 ms, 21883 steps/60.0 ms, 21883 steps/300.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:124:34            => 180.0 ms, 203229 steps/180.0 ms, 203229 steps/280.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:145:61         => 150.0 ms, 153731 steps/150.0 ms, 153731 steps/260.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:107:38            => 170.0 ms, 184840 steps/170.0 ms, 184840 steps/250.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:108:38            => 160.0 ms, 175076 steps/160.0 ms, 175076 steps/240.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:146:101        => 140.0 ms, 153346 steps/140.0 ms, 153346 steps/240.0 ms
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:148:39    => 230.0 ms, 263770 steps/230.0 ms, 263770 steps/230.0 ms
`-VC_LOOP_VARIANT saatana-crypto-phelix.adb:139:16           => 210.0 ms, 238883 steps/210.0 ms, 238883 steps/210.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:132:61            => 60.0 ms, 23946 steps/60.0 ms, 23946 steps/210.0 ms
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:92:22            => 80.0 ms, 93306 steps/80.0 ms, 93306 steps/200.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:115:96            => 60.0 ms, 19552 steps/60.0 ms, 19552 steps/190.0 ms
`-VC_ASSERT saatana-crypto-phelix.adb:158:22                 => 180.0 ms, 201123 steps/180.0 ms, 201123 steps/180.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:110:41            => 50.0 ms, 17879 steps/50.0 ms, 17879 steps/160.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:105:74            => 80.0 ms, 111870 steps/80.0 ms, 111870 steps/130.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:110:41         => 60.0 ms, 17839 steps/60.0 ms, 17839 steps/100.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:132:61         => 60.0 ms, 23906 steps/60.0 ms, 23906 steps/100.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:127:39            => 60.0 ms, 28601 steps/60.0 ms, 28601 steps/100.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:98:49             => 80.0 ms, 93437 steps/80.0 ms, 93437 steps/80.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:99:54             => 80.0 ms, 95381 steps/80.0 ms, 95381 steps/80.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:115:96         => 40.0 ms, 19512 steps/40.0 ms, 19512 steps/80.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.ads:295:87            => 60.0 ms, 19497 steps/60.0 ms, 19497 steps/60.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:295:87         => 50.0 ms, 19451 steps/50.0 ms, 19451 steps/50.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:291:37         => 40.0 ms, 9739 steps/40.0 ms, 9739 steps/40.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:87:61          => 30.0 ms, 9785 steps/30.0 ms, 9785 steps/30.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:87:61             => 30.0 ms, 9823 steps/30.0 ms, 9823 steps/30.0 ms
Saatana.Crypto.Phelix.Finalize                               =>                                                          2.2 s, 2873006 steps/2.2 s, 2873006 steps/7.7 s
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:359:33 => 2.2 s, 2873006 steps/2.2 s, 2873006 steps/2.2 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:342:16            => 180.0 ms, 172495 steps/180.0 ms, 172495 steps/630.0 ms
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:355:33 => 270.0 ms, 309371 steps/270.0 ms, 309371 steps/540.0 ms
`-VC_POSTCONDITION saatana-crypto-phelix.ads:314:17          => 140.0 ms, 135873 steps/140.0 ms, 135873 steps/420.0 ms
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:364:11           => 140.0 ms, 146687 steps/140.0 ms, 146687 steps/410.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:364:14            => 150.0 ms, 147388 steps/150.0 ms, 147388 steps/380.0 ms
`-VC_INDEX_CHECK saatana-crypto-phelix.adb:360:40            => 150.0 ms, 147902 steps/150.0 ms, 147902 steps/370.0 ms
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:355:33    => 130.0 ms, 134648 steps/130.0 ms, 134648 steps/330.0 ms
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:342:52           => 70.0 ms, 48949 steps/70.0 ms, 48949 steps/320.0 ms
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:342:49           => 50.0 ms, 16012 steps/50.0 ms, 16012 steps/290.0 ms
`-VC_LOOP_VARIANT saatana-crypto-phelix.adb:352:10           => 180.0 ms, 171466 steps/180.0 ms, 171466 steps/180.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:339:94            => 50.0 ms, 14871 steps/50.0 ms, 14871 steps/180.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:348:55            => 50.0 ms, 18029 steps/50.0 ms, 18029 steps/170.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:330:52            => 50.0 ms, 13149 steps/50.0 ms, 13149 steps/160.0 ms
`-VC_INITIALIZATION_CHECK saatana-crypto-phelix.adb:364:14   => 150.0 ms, 145387 steps/150.0 ms, 145387 steps/150.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:364:14            => 150.0 ms, 145179 steps/150.0 ms, 145179 steps/150.0 ms
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:359:33    => 110.0 ms, 111380 steps/110.0 ms, 111380 steps/110.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:356:77         => 60.0 ms, 18176 steps/60.0 ms, 18176 steps/110.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:330:52         => 50.0 ms, 13109 steps/50.0 ms, 13109 steps/90.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:348:55         => 50.0 ms, 17989 steps/50.0 ms, 17989 steps/90.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:339:50            => 50.0 ms, 14883 steps/50.0 ms, 14883 steps/90.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:339:94         => 40.0 ms, 14831 steps/40.0 ms, 14831 steps/80.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:324:67            => 70.0 ms, 67157 steps/70.0 ms, 67157 steps/70.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:321:37         => 40.0 ms, 6518 steps/40.0 ms, 6518 steps/40.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:323:67         => 40.0 ms, 6813 steps/40.0 ms, 6813 steps/40.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:324:67         => 40.0 ms, 6972 steps/40.0 ms, 6972 steps/40.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:313:65         => 40.0 ms, 6495 steps/40.0 ms, 6495 steps/40.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:323:67            => 40.0 ms, 6851 steps/40.0 ms, 6851 steps/40.0 ms
Saatana.Crypto.Phelix.Setup_Key                              =>                                                          640.0 ms, 416173 steps/206.4 s, 105312169 steps/219.2 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:466:44            => 640.0 ms, 22722 steps/206.4 s, 105312169 steps/207.1 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:546:42            => 90.0 ms, 42961 steps/90.0 ms, 42961 steps/2.1 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:545:49            => 90.0 ms, 42833 steps/90.0 ms, 42833 steps/2.1 s
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:545:49           => 140.0 ms, 137091 steps/140.0 ms, 137091 steps/1.9 s
`-VC_POSTCONDITION saatana-crypto-phelix.ads:187:17          => 350.0 ms, 319368 steps/350.0 ms, 319368 steps/1.2 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:508:36            => 150.0 ms, 116580 steps/150.0 ms, 116580 steps/730.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:504:48            => 130.0 ms, 158074 steps/130.0 ms, 158074 steps/730.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:534:48         => 80.0 ms, 39228 steps/80.0 ms, 39228 steps/470.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:525:28         => 80.0 ms, 39181 steps/80.0 ms, 39181 steps/460.0 ms
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:506:19 => 440.0 ms, 416173 steps/440.0 ms, 416173 steps/440.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:508:36            => 160.0 ms, 127895 steps/160.0 ms, 127895 steps/250.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:509:113        => 140.0 ms, 115023 steps/140.0 ms, 115023 steps/230.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:509:69         => 180.0 ms, 126178 steps/180.0 ms, 126178 steps/220.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:504:48            => 100.0 ms, 108057 steps/100.0 ms, 108057 steps/180.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:500:46            => 100.0 ms, 103613 steps/100.0 ms, 103613 steps/170.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:502:45            => 100.0 ms, 104634 steps/100.0 ms, 104634 steps/170.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:500:62         => 110.0 ms, 104461 steps/110.0 ms, 104461 steps/150.0 ms
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:506:19    => 110.0 ms, 148792 steps/110.0 ms, 148792 steps/110.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:500:116        => 70.0 ms, 64552 steps/70.0 ms, 64552 steps/110.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.ads:189:43            => 90.0 ms, 59168 steps/90.0 ms, 59168 steps/90.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:508:51         => 40.0 ms, 14081 steps/40.0 ms, 14081 steps/80.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:466:49            => 60.0 ms, 54358 steps/60.0 ms, 54358 steps/60.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:487:36         => 40.0 ms, 7355 steps/40.0 ms, 7355 steps/40.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:487:58         => 40.0 ms, 7355 steps/40.0 ms, 7355 steps/40.0 ms
`-VC_PREDICATE_CHECK saatana-crypto-phelix.adb:466:44        => 40.0 ms, 6970 steps/40.0 ms, 6970 steps/40.0 ms
Saatana.Crypto.Phelix.Setup_Nonce                            =>                                                          360.0 ms, 293146 steps/360.0 ms, 293146 steps/4.9 s
`-VC_POSTCONDITION saatana-crypto-phelix.ads:206:17          => 360.0 ms, 293146 steps/360.0 ms, 293146 steps/2.6 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:566:32            => 60.0 ms, 61213 steps/60.0 ms, 61213 steps/670.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:590:27         => 90.0 ms, 40489 steps/90.0 ms, 40489 steps/550.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:566:32            => 120.0 ms, 104892 steps/120.0 ms, 104892 steps/360.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:566:114        => 110.0 ms, 93127 steps/110.0 ms, 93127 steps/340.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:566:90         => 110.0 ms, 92922 steps/110.0 ms, 92922 steps/310.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:566:51         => 40.0 ms, 17932 steps/40.0 ms, 17932 steps/140.0 ms
Test_Phelix_API                                              =>                                                          240.0 ms, 276585 steps/240.0 ms, 276585 steps/9.1 s
`-VC_PRECONDITION test_phelix_api.adb:132:25                 => 200.0 ms, 241619 steps/200.0 ms, 241619 steps/930.0 ms
`-VC_PRECONDITION test_phelix_api.adb:119:25                 => 170.0 ms, 198890 steps/170.0 ms, 198890 steps/800.0 ms
`-VC_LENGTH_CHECK test_phelix_api.adb:98:20                  => 140.0 ms, 157294 steps/140.0 ms, 157294 steps/400.0 ms
`-VC_PRECONDITION test_phelix_api.adb:99:25                  => 130.0 ms, 171633 steps/130.0 ms, 171633 steps/390.0 ms
`-VC_PRECONDITION test_phelix_api.adb:101:25                 => 140.0 ms, 179458 steps/140.0 ms, 179458 steps/370.0 ms
`-VC_RANGE_CHECK test_phelix_api.adb:83:22                   => 90.0 ms, 113398 steps/90.0 ms, 113398 steps/320.0 ms
`-VC_PRECONDITION test_phelix_api.adb:77:25                  => 90.0 ms, 102292 steps/90.0 ms, 102292 steps/300.0 ms
`-VC_RANGE_CHECK test_phelix_api.adb:97:4                    => 100.0 ms, 130538 steps/100.0 ms, 130538 steps/290.0 ms
`-VC_RANGE_CHECK test_phelix_api.adb:79:4                    => 100.0 ms, 117465 steps/100.0 ms, 117465 steps/280.0 ms
`-VC_PRECONDITION test_phelix_api.adb:80:25                  => 100.0 ms, 124686 steps/100.0 ms, 124686 steps/260.0 ms
`-VC_RANGE_CHECK test_phelix_api.adb:104:22                  => 100.0 ms, 138227 steps/100.0 ms, 138227 steps/260.0 ms
`-VC_LENGTH_CHECK test_phelix_api.adb:79:44                  => 90.0 ms, 117053 steps/90.0 ms, 117053 steps/260.0 ms
`-VC_INITIALIZATION_CHECK test_phelix_api.adb:144:33         => 240.0 ms, 276585 steps/240.0 ms, 276585 steps/240.0 ms
`-VC_INITIALIZATION_CHECK test_phelix_api.adb:144:16         => 220.0 ms, 260248 steps/220.0 ms, 260248 steps/220.0 ms
`-VC_PRECONDITION test_phelix_api.adb:105:25                 => 150.0 ms, 186087 steps/150.0 ms, 186087 steps/200.0 ms
`-VC_RANGE_CHECK test_phelix_api.adb:100:47                  => 50.0 ms, 19152 steps/50.0 ms, 19152 steps/190.0 ms
`-VC_RANGE_CHECK test_phelix_api.adb:135:51                  => 50.0 ms, 25152 steps/50.0 ms, 25152 steps/190.0 ms
`-VC_RANGE_CHECK test_phelix_api.adb:136:18                  => 50.0 ms, 24987 steps/50.0 ms, 24987 steps/190.0 ms
`-VC_LENGTH_CHECK test_phelix_api.adb:59:69                  => 70.0 ms, 83354 steps/70.0 ms, 83354 steps/180.0 ms
`-VC_RANGE_CHECK test_phelix_api.adb:98:39                   => 50.0 ms, 18747 steps/50.0 ms, 18747 steps/180.0 ms
`-VC_PRECONDITION test_phelix_api.adb:95:25                  => 130.0 ms, 137968 steps/130.0 ms, 137968 steps/170.0 ms
`-VC_LENGTH_CHECK test_phelix_api.adb:58:69                  => 60.0 ms, 75739 steps/60.0 ms, 75739 steps/170.0 ms
`-VC_RANGE_CHECK test_phelix_api.adb:144:33                  => 160.0 ms, 192126 steps/160.0 ms, 192126 steps/160.0 ms
`-VC_PRECONDITION test_phelix_api.adb:84:25                  => 110.0 ms, 138434 steps/110.0 ms, 138434 steps/160.0 ms
`-VC_LENGTH_CHECK test_phelix_api.adb:79:27                  => 60.0 ms, 52707 steps/60.0 ms, 52707 steps/160.0 ms
`-VC_PRECONDITION test_phelix_api.adb:129:25                 => 150.0 ms, 181788 steps/150.0 ms, 181788 steps/150.0 ms
`-VC_RANGE_CHECK test_phelix_api.adb:103:22                  => 40.0 ms, 20844 steps/40.0 ms, 20844 steps/150.0 ms
`-VC_PRECONDITION test_phelix_api.adb:116:25                 => 140.0 ms, 171325 steps/140.0 ms, 171325 steps/140.0 ms
`-VC_LENGTH_CHECK test_phelix_api.adb:97:27                  => 50.0 ms, 19367 steps/50.0 ms, 19367 steps/130.0 ms
`-VC_PRECONDITION test_phelix_api.adb:92:25                  => 120.0 ms, 131177 steps/120.0 ms, 131177 steps/120.0 ms
`-VC_RANGE_CHECK test_phelix_api.adb:98:39                   => 120.0 ms, 155824 steps/120.0 ms, 155824 steps/120.0 ms
`-VC_PRECONDITION test_phelix_api.adb:75:25                  => 80.0 ms, 98565 steps/80.0 ms, 98565 steps/120.0 ms
`-VC_RANGE_CHECK test_phelix_api.adb:51:12                   => 70.0 ms, 75881 steps/70.0 ms, 75881 steps/110.0 ms
`-VC_RANGE_CHECK test_phelix_api.adb:51:12                   => 70.0 ms, 75881 steps/70.0 ms, 75881 steps/110.0 ms
`-VC_RANGE_CHECK test_phelix_api.adb:51:12                   => 70.0 ms, 86421 steps/70.0 ms, 86421 steps/110.0 ms
`-VC_RANGE_CHECK test_phelix_api.adb:53:12                   => 70.0 ms, 78062 steps/70.0 ms, 78062 steps/110.0 ms
`-VC_RANGE_CHECK test_phelix_api.adb:55:12                   => 60.0 ms, 77054 steps/60.0 ms, 77054 steps/100.0 ms
`-VC_PRECONDITION test_phelix_api.adb:72:25                  => 70.0 ms, 91623 steps/70.0 ms, 91623 steps/70.0 ms
`-VC_RANGE_CHECK test_phelix_api.adb:135:51                  => 50.0 ms, 23894 steps/50.0 ms, 23894 steps/50.0 ms
`-VC_PREDICATE_CHECK test_phelix_api.adb:74:60               => 40.0 ms, 9803 steps/40.0 ms, 9803 steps/40.0 ms
`-VC_PREDICATE_CHECK test_phelix_api.adb:94:60               => 40.0 ms, 12926 steps/40.0 ms, 12926 steps/40.0 ms
`-VC_PREDICATE_CHECK test_phelix_api.adb:118:60              => 40.0 ms, 16382 steps/40.0 ms, 16382 steps/40.0 ms
`-VC_PREDICATE_CHECK test_phelix_api.adb:131:60              => 40.0 ms, 17220 steps/40.0 ms, 17220 steps/40.0 ms
`-VC_RANGE_CHECK test_phelix_api.adb:79:64                   => 40.0 ms, 14309 steps/40.0 ms, 14309 steps/40.0 ms
Saatana.Crypto.Lemmas                                        =>                                                          210.0 ms, 186828 steps/210.0 ms, 186828 steps/700.0 ms
`-VC_ASSERT saatana-crypto-lemmas.ads:61:19                  => 210.0 ms, 186828 steps/210.0 ms, 186828 steps/210.0 ms
`-VC_ASSERT saatana-crypto-lemmas.ads:67:19                  => 130.0 ms, 71137 steps/130.0 ms, 71137 steps/130.0 ms
`-VC_ASSERT saatana-crypto-lemmas.ads:54:19                  => 110.0 ms, 70324 steps/110.0 ms, 70324 steps/110.0 ms
`-VC_ASSERT saatana-crypto-lemmas.ads:46:19                  => 100.0 ms, 72838 steps/100.0 ms, 72838 steps/100.0 ms
`-VC_ASSERT saatana-crypto-lemmas.ads:72:19                  => 80.0 ms, 56667 steps/80.0 ms, 56667 steps/80.0 ms
`-VC_ASSERT saatana-crypto-lemmas.ads:31:19                  => 70.0 ms, 71988 steps/70.0 ms, 71988 steps/70.0 ms
Saatana.Crypto.Phelix.Process_AAD                            =>                                                          200.0 ms, 257040 steps/200.0 ms, 257040 steps/3.9 s
`-VC_POSTCONDITION saatana-crypto-phelix.ads:233:17          => 140.0 ms, 141083 steps/140.0 ms, 141083 steps/1.0 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:440:53            => 110.0 ms, 131026 steps/110.0 ms, 131026 steps/580.0 ms
`-VC_INITIALIZATION_CHECK saatana-crypto-phelix.adb:440:53   => 200.0 ms, 257040 steps/200.0 ms, 257040 steps/280.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:446:38            => 160.0 ms, 157651 steps/160.0 ms, 157651 steps/280.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:440:53            => 150.0 ms, 142677 steps/150.0 ms, 142677 steps/230.0 ms
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:452:39 => 150.0 ms, 153569 steps/150.0 ms, 153569 steps/220.0 ms
`-VC_LOOP_VARIANT saatana-crypto-phelix.adb:449:16           => 200.0 ms, 204223 steps/200.0 ms, 204223 steps/200.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:433:38            => 120.0 ms, 125781 steps/120.0 ms, 125781 steps/190.0 ms
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:452:39    => 130.0 ms, 111649 steps/130.0 ms, 111649 steps/180.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:443:61            => 50.0 ms, 18528 steps/50.0 ms, 18528 steps/180.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:431:72            => 40.0 ms, 13856 steps/40.0 ms, 13856 steps/160.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:430:74            => 70.0 ms, 78705 steps/70.0 ms, 78705 steps/120.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:443:61         => 50.0 ms, 18488 steps/50.0 ms, 18488 steps/90.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:431:72         => 40.0 ms, 13816 steps/40.0 ms, 13816 steps/80.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:418:42            => 60.0 ms, 68529 steps/60.0 ms, 68529 steps/60.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:425:43            => 60.0 ms, 72597 steps/60.0 ms, 72597 steps/60.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:231:37         => 40.0 ms, 7981 steps/40.0 ms, 7981 steps/40.0 ms
Saatana.Crypto.Phelix.Decrypt_Packet                         =>                                                          110.0 ms, 121758 steps/110.0 ms, 121758 steps/1.9 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:175:7             => 80.0 ms, 89834 steps/80.0 ms, 89834 steps/240.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:179:37            => 80.0 ms, 85881 steps/80.0 ms, 85881 steps/240.0 ms
`-VC_PRECONDITION saatana-crypto-phelix.adb:173:7            => 70.0 ms, 73530 steps/70.0 ms, 73530 steps/230.0 ms
`-VC_PRECONDITION saatana-crypto-phelix.adb:177:7            => 70.0 ms, 95575 steps/70.0 ms, 95575 steps/220.0 ms
`-VC_POSTCONDITION saatana-crypto-phelix.ads:171:17          => 90.0 ms, 98183 steps/90.0 ms, 98183 steps/210.0 ms
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:175:68           => 50.0 ms, 47014 steps/50.0 ms, 47014 steps/130.0 ms
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:175:65           => 40.0 ms, 37385 steps/40.0 ms, 37385 steps/120.0 ms
`-VC_ASSERT saatana-crypto-phelix.adb:188:22                 => 110.0 ms, 121758 steps/110.0 ms, 121758 steps/110.0 ms
`-VC_PRECONDITION saatana-crypto-phelix.adb:181:7            => 50.0 ms, 54293 steps/50.0 ms, 54293 steps/90.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:175:60         => 80.0 ms, 84146 steps/80.0 ms, 84146 steps/80.0 ms
`-VC_PRECONDITION saatana-crypto-phelix.adb:171:7            => 40.0 ms, 7814 steps/40.0 ms, 7814 steps/80.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:175:44         => 70.0 ms, 84442 steps/70.0 ms, 84442 steps/70.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:179:58         => 60.0 ms, 48523 steps/60.0 ms, 48523 steps/60.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:170:65         => 30.0 ms, 7901 steps/30.0 ms, 7901 steps/30.0 ms
Saatana.Crypto.Phelix.Exclusive_Or                           =>                                                          110.0 ms, 223374 steps/110.0 ms, 223374 steps/540.0 ms
`-VC_INDEX_CHECK saatana-crypto-phelix.adb:304:89            => 40.0 ms, 13108 steps/40.0 ms, 13108 steps/120.0 ms
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:303:33 => 110.0 ms, 223374 steps/110.0 ms, 223374 steps/110.0 ms
`-VC_INDEX_CHECK saatana-crypto-phelix.adb:304:72            => 30.0 ms, 1232 steps/30.0 ms, 1232 steps/110.0 ms
`-VC_INDEX_CHECK saatana-crypto-phelix.adb:304:45            => 30.0 ms, 1254 steps/30.0 ms, 1254 steps/100.0 ms
`-VC_POSTCONDITION saatana-crypto-phelix.adb:23:17           => 70.0 ms, 137854 steps/70.0 ms, 137854 steps/70.0 ms
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:303:33    => 30.0 ms, 4197 steps/30.0 ms, 4197 steps/30.0 ms
Saatana.Crypto.Phelix.Encrypt_Packet                         =>                                                          100.0 ms, 122333 steps/100.0 ms, 122333 steps/2.0 s
`-VC_PRECONDITION saatana-crypto-phelix.adb:281:7            => 80.0 ms, 97217 steps/80.0 ms, 97217 steps/230.0 ms
`-VC_PRECONDITION saatana-crypto-phelix.adb:277:7            => 70.0 ms, 73530 steps/70.0 ms, 73530 steps/230.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:283:37            => 70.0 ms, 87324 steps/70.0 ms, 87324 steps/230.0 ms
`-VC_POSTCONDITION saatana-crypto-phelix.ads:130:17          => 90.0 ms, 99493 steps/90.0 ms, 99493 steps/220.0 ms
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:279:68           => 80.0 ms, 85376 steps/80.0 ms, 85376 steps/210.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:279:7             => 70.0 ms, 90855 steps/70.0 ms, 90855 steps/210.0 ms
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:279:65           => 50.0 ms, 37986 steps/50.0 ms, 37986 steps/140.0 ms
`-VC_ASSERT saatana-crypto-phelix.adb:292:22                 => 100.0 ms, 122333 steps/100.0 ms, 122333 steps/100.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:279:44         => 80.0 ms, 85833 steps/80.0 ms, 85833 steps/80.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:279:60         => 80.0 ms, 85082 steps/80.0 ms, 85082 steps/80.0 ms
`-VC_PRECONDITION saatana-crypto-phelix.adb:285:7            => 50.0 ms, 55115 steps/50.0 ms, 55115 steps/80.0 ms
`-VC_PRECONDITION saatana-crypto-phelix.adb:275:7            => 40.0 ms, 7814 steps/40.0 ms, 7814 steps/70.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:283:58         => 50.0 ms, 49345 steps/50.0 ms, 49345 steps/50.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:129:65         => 40.0 ms, 7901 steps/40.0 ms, 7901 steps/40.0 ms
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:279:87            => 40.0 ms, 11288 steps/40.0 ms, 11288 steps/40.0 ms
Saatana.Crypto.To_Unsigned                                   =>                                                          80.0 ms, 72790 steps/80.0 ms, 72790 steps/810.0 ms
`-VC_POSTCONDITION saatana-crypto.ads:44:17                  => 80.0 ms, 72790 steps/80.0 ms, 72790 steps/80.0 ms
`-VC_INDEX_CHECK saatana-crypto.ads:98:61                    => 40.0 ms, 16090 steps/40.0 ms, 16090 steps/70.0 ms
`-VC_INDEX_CHECK saatana-crypto.ads:99:61                    => 40.0 ms, 15083 steps/40.0 ms, 15083 steps/70.0 ms
`-VC_INDEX_CHECK saatana-crypto.ads:44:99                    => 30.0 ms, 3095 steps/30.0 ms, 3095 steps/60.0 ms
`-VC_INDEX_CHECK saatana-crypto.ads:46:106                   => 30.0 ms, 2934 steps/30.0 ms, 2934 steps/60.0 ms
`-VC_INDEX_CHECK saatana-crypto.ads:47:106                   => 30.0 ms, 2797 steps/30.0 ms, 2797 steps/60.0 ms
`-VC_INDEX_CHECK saatana-crypto.ads:97:61                    => 30.0 ms, 2377 steps/30.0 ms, 2377 steps/60.0 ms
`-VC_INDEX_CHECK saatana-crypto.ads:100:61                   => 30.0 ms, 14464 steps/30.0 ms, 14464 steps/60.0 ms
`-VC_INDEX_CHECK saatana-crypto.ads:45:106                   => 30.0 ms, 3083 steps/30.0 ms, 3083 steps/50.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto.ads:98:61                 => 40.0 ms, 16193 steps/40.0 ms, 16193 steps/40.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto.ads:99:61                 => 40.0 ms, 15186 steps/40.0 ms, 15186 steps/40.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto.ads:100:61                => 40.0 ms, 14569 steps/40.0 ms, 14569 steps/40.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto.ads:45:106                => 30.0 ms, 3591 steps/30.0 ms, 3591 steps/30.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto.ads:46:106                => 30.0 ms, 3430 steps/30.0 ms, 3430 steps/30.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto.ads:47:106                => 30.0 ms, 3281 steps/30.0 ms, 3281 steps/30.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto.ads:97:61                 => 30.0 ms, 2455 steps/30.0 ms, 2455 steps/30.0 ms
Saatana.Crypto.To_Stream                                     =>                                                          40.0 ms, 22229 steps/40.0 ms, 22229 steps/920.0 ms
`-VC_POSTCONDITION saatana-crypto.ads:58:17                  => 40.0 ms, 22229 steps/40.0 ms, 22229 steps/110.0 ms
`-VC_RANGE_CHECK saatana-crypto.ads:59:73                    => 30.0 ms, 1671 steps/30.0 ms, 1671 steps/60.0 ms
`-VC_RANGE_CHECK saatana-crypto.ads:60:73                    => 30.0 ms, 1679 steps/30.0 ms, 1679 steps/60.0 ms
`-VC_RANGE_CHECK saatana-crypto.ads:61:73                    => 30.0 ms, 1679 steps/30.0 ms, 1679 steps/60.0 ms
`-VC_RANGE_CHECK saatana-crypto.ads:62:73                    => 30.0 ms, 1669 steps/30.0 ms, 1669 steps/60.0 ms
`-VC_RANGE_CHECK saatana-crypto.ads:86:36                    => 30.0 ms, 1461 steps/30.0 ms, 1461 steps/60.0 ms
`-VC_RANGE_CHECK saatana-crypto.ads:87:36                    => 30.0 ms, 1461 steps/30.0 ms, 1461 steps/60.0 ms
`-VC_RANGE_CHECK saatana-crypto.ads:88:36                    => 30.0 ms, 1447 steps/30.0 ms, 1447 steps/60.0 ms
`-VC_RANGE_CHECK saatana-crypto.ads:85:36                    => 30.0 ms, 1437 steps/30.0 ms, 1437 steps/50.0 ms
`-VC_DIVISION_CHECK saatana-crypto.ads:59:73                 => 30.0 ms, 1631 steps/30.0 ms, 1631 steps/30.0 ms
`-VC_DIVISION_CHECK saatana-crypto.ads:60:73                 => 30.0 ms, 1631 steps/30.0 ms, 1631 steps/30.0 ms
`-VC_DIVISION_CHECK saatana-crypto.ads:61:73                 => 30.0 ms, 1631 steps/30.0 ms, 1631 steps/30.0 ms
`-VC_DIVISION_CHECK saatana-crypto.ads:62:73                 => 30.0 ms, 1631 steps/30.0 ms, 1631 steps/30.0 ms
`-VC_DIVISION_CHECK saatana-crypto.ads:85:36                 => 30.0 ms, 1393 steps/30.0 ms, 1393 steps/30.0 ms
`-VC_DIVISION_CHECK saatana-crypto.ads:86:26                 => 30.0 ms, 1393 steps/30.0 ms, 1393 steps/30.0 ms
`-VC_DIVISION_CHECK saatana-crypto.ads:86:36                 => 30.0 ms, 1393 steps/30.0 ms, 1393 steps/30.0 ms
`-VC_DIVISION_CHECK saatana-crypto.ads:87:26                 => 30.0 ms, 1393 steps/30.0 ms, 1393 steps/30.0 ms
`-VC_DIVISION_CHECK saatana-crypto.ads:87:36                 => 30.0 ms, 1393 steps/30.0 ms, 1393 steps/30.0 ms
`-VC_DIVISION_CHECK saatana-crypto.ads:88:26                 => 30.0 ms, 1393 steps/30.0 ms, 1393 steps/30.0 ms
`-VC_DIVISION_CHECK saatana-crypto.ads:85:26                 => 20.0 ms, 1393 steps/20.0 ms, 1393 steps/20.0 ms
`-VC_DIVISION_CHECK saatana-crypto.ads:88:36                 => 20.0 ms, 1393 steps/20.0 ms, 1393 steps/20.0 ms
Saatana.Crypto.Oadd                                          =>                                                          40.0 ms, 24255 steps/40.0 ms, 24255 steps/310.0 ms
`-VC_INDEX_CHECK saatana-crypto.adb:51:41                    => 40.0 ms, 23592 steps/40.0 ms, 23592 steps/80.0 ms
`-VC_INDEX_CHECK saatana-crypto.adb:50:42                    => 30.0 ms, 2022 steps/30.0 ms, 2022 steps/60.0 ms
`-VC_INDEX_CHECK saatana-crypto.adb:50:42                    => 30.0 ms, 2147 steps/30.0 ms, 2147 steps/60.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto.adb:48:63                 => 40.0 ms, 21182 steps/40.0 ms, 21182 steps/40.0 ms
`-VC_OVERFLOW_CHECK saatana-crypto.adb:48:78                 => 40.0 ms, 23276 steps/40.0 ms, 23276 steps/40.0 ms
`-VC_RANGE_CHECK saatana-crypto.adb:48:78                    => 30.0 ms, 24255 steps/30.0 ms, 24255 steps/30.0 ms
Saatana.Crypto.Oadd.Add_Carry                                =>                                                          30.0 ms, 10020 steps/30.0 ms, 10020 steps/90.0 ms
`-VC_POSTCONDITION saatana-crypto.adb:27:20                  => 30.0 ms, 10020 steps/30.0 ms, 10020 steps/90.0 ms
Saatana.Crypto.Phelix.Key_Size_32Predicate                   =>                                                          30.0 ms, 480 steps/30.0 ms, 480 steps/30.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:61:39          => 30.0 ms, 480 steps/30.0 ms, 480 steps/30.0 ms
Saatana.Crypto.Phelix.MAC_Size_32Predicate                   =>                                                          30.0 ms, 480 steps/30.0 ms, 480 steps/30.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:58:39          => 30.0 ms, 480 steps/30.0 ms, 480 steps/30.0 ms
Saatana                                                      =>                                                          0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
Saatana.Crypto                                               =>                                                          0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
Saatana.Crypto.Phelix                                        =>                                                          0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
Saatana.Crypto.Phelix.Context                                =>                                                          0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
Saatana.Crypto.Phelix.Ctx_AAD_Len                            =>                                                          0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
Saatana.Crypto.Phelix.Ctx_I                                  =>                                                          0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
Saatana.Crypto.Phelix.Ctx_Key_Size                           =>                                                          0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
Saatana.Crypto.Phelix.Ctx_Mac_Size                           =>                                                          0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
Saatana.Crypto.Phelix.Ctx_Msg_Len                            =>                                                          0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
Saatana.Crypto.Phelix.Setup_Key_Called                       =>                                                          0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
Saatana.Crypto.Phelix.Setup_Nonce_Called                     =>                                                          0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
