SPARKNaCl.Sign.Sign                           =>                                     --/57.6 s (11655208 steps)/489.2 s
`-VC_OVERFLOW_CHECK sparknacl-sign.adb:890:36 => --/57.6 s (11654931 steps)/238.7 s
