SPARKNaCl.Sign.Sign                                   =>                                                    --/57.6 s (14007 steps)/489.2 s
`-VC_OVERFLOW_CHECK sparknacl-sign.adb:890:36         => --/57.6 s (14007 steps)/238.7 s
 `-CVC4: 57.6 s (14001 steps), Unknown (unknown)
  -Z3: 4.3 s (5945 steps), Valid
 `-CVC4: 51.6 s (14001 steps), Unknown (unknown)
  -Z3: 7.9 s (14006 steps), Unknown (unknown)
 `-CVC4: 50.5 s (14001 steps), Unknown (unknown)
  -Z3: 8.8 s (14006 steps), Unknown (unknown)
 `-CVC4: 50.7 s (14001 steps), Unknown (unknown)
  -Z3: 7.2 s (14007 steps), Unknown (unknown)
`-VC_LOOP_INVARIANT_PRESERV sparknacl-sign.adb:896:16 => 8.2 s (14007 steps)/51.5 s (14007 steps)/115.1 s
 `-CVC4: 51.5 s (14001 steps), Unknown (unknown)
  -Z3: 8.2 s (14007 steps), Valid
 `-CVC4: 51.1 s (14001 steps), Unknown (unknown)
  -Z3: 4.3 s (6848 steps), Valid
`-VC_LOOP_INVARIANT_INIT sparknacl-sign.adb:896:16    => 6.0 s (8848 steps)/51.0 s (14001 steps)/112.4 s
 `-CVC4: 51.0 s (14001 steps), Unknown (unknown)
  -Z3: 6.0 s (8848 steps), Valid
 `-CVC4: 50.9 s (14001 steps), Unknown (unknown)
  -Z3: 4.6 s (8578 steps), Valid
SPARKNaCl.Omultiply                                   =>                                                    700.0 ms (1 step)/19.1 s (14001 steps)/28.6 s
`-VC_LOOP_INVARIANT_PRESERV sparknacl.adb:164:13      => 40.0 ms (1 step)/19.1 s (14001 steps)/19.1 s
 `-CVC4: 19.1 s (14001 steps), Unknown (unknown)
  -Z3: 40.0 ms (1 step), Valid
SPARKNaCl.ASR_16                                      =>                                                    --/5.7 s (14001 steps)/5.9 s
`-VC_POSTCONDITION sparknacl.ads:355:35               => --/5.7 s (14001 steps)/5.8 s
 `-Z3: 5.7 s (14001 steps), Unknown (unknown)
  -CVC4: 80.0 ms (1 step), Unknown (unknown)
Justified with: "From definition of arithmetic shift right".
