SPARKNaCl.Sign.ModL.Eliminate_Limbs_62_To_32              => 9.2 s (4063 steps)/9.2 s (4063 steps)/148.2 s
SPARKNaCl.Utils.CSwap                                     => 900.0 ms (1536 steps)/900.0 ms (1536 steps)/4.8 s
SPARKNaCl.Sign.ModL.Finalize                              => 2.1 s (930 steps)/2.1 s (930 steps)/27.1 s
SPARKNaCl.Car.Seminormal_To_Nearlynormal                  => 950.0 ms (51 steps)/950.0 ms (51 steps)/8.0 s
SPARKNaCl.Sign.ModL.Eliminate_Limb_63                     => 740.0 ms (33 steps)/740.0 ms (33 steps)/10.8 s
SPARKNaCl.Omultiply                                       => 700.0 ms (1 step)/19.1 s (14001 steps)/28.6 s
SPARKNaCl.Car.Sum_To_Nearlynormal                         => 660.0 ms (1 step)/660.0 ms (1 step)/6.6 s
SPARKNaCl.Scalar.Mult                                     => 550.0 ms (1 step)/550.0 ms (1 step)/14.1 s
SPARKNaCl.Hashing.Hashblocks                              => 500.0 ms (1 step)/500.0 ms (1 step)/26.7 s
SPARKNaCl.Car.Product_To_Seminormal                       => 420.0 ms (1 step)/420.0 ms (1 step)/5.4 s
SPARKNaCl.MAC.Onetimeauth                                 => 340.0 ms (1 step)/340.0 ms (1 step)/3.7 s
SPARKNaCl.Sign.Scalarmult                                 => 300.0 ms (1 step)/300.0 ms (1 step)/1.0 s
SPARKNaCl.Secretbox.Open                                  => 270.0 ms (1 step)/270.0 ms (1 step)/3.3 s
SPARKNaCl.Sign                                            => 250.0 ms (1 step)/250.0 ms (1 step)/2.0 s
SPARKNaCl.Stream.Salsa20_Xor_Local                        => 210.0 ms (1 step)/210.0 ms (1 step)/9.9 s
SPARKNaCl.Hashing.Hash                                    => 190.0 ms (1 step)/190.0 ms (1 step)/1.8 s
SPARKNaCl.Car.Difference_To_Nearlynormal                  => 160.0 ms (1 step)/160.0 ms (1 step)/2.9 s
SPARKNaCl.Sign.Open                                       => 160.0 ms (1 step)/160.0 ms (1 step)/1.5 s
SPARKNaCl.Utils.Pack_25519.Subtract_P                     => 150.0 ms (1 step)/180.0 ms (1 step)/1.8 s
SPARKNaCl.Utils.Pack_25519                                => 150.0 ms (1 step)/150.0 ms (1 step)/870.0 ms
SPARKNaCl.Secretbox.Create                                => 120.0 ms (1 step)/120.0 ms (1 step)/2.1 s
SPARKNaCl.Core.HSalsa20                                   => 120.0 ms (1 step)/120.0 ms (1 step)/650.0 ms
SPARKNaCl.Utils.Unpack_25519                              => 110.0 ms (1 step)/110.0 ms (1 step)/1.0 s
SPARKNaCl.Sign.ModL                                       => 100.0 ms (1 step)/100.0 ms (1 step)/310.0 ms
SPARKNaCl.Equal                                           => 90.0 ms (1 step)/90.0 ms (1 step)/740.0 ms
SPARKNaCl.Sign.Hash_Reduce                                => 90.0 ms (1 step)/90.0 ms (1 step)/560.0 ms
SPARKNaCl.Sign.Keypair_From_Bytes                         => 90.0 ms (1 step)/90.0 ms (1 step)/170.0 ms
SPARKNaCl                                                 => 80.0 ms (1 step)/80.0 ms (1 step)/260.0 ms
SPARKNaCl.Utils.Pack_25519.To_Bytes_32                    => 80.0 ms (1 step)/80.0 ms (1 step)/190.0 ms
SPARKNaCl.Core.Salsa20                                    => 80.0 ms (1 step)/80.0 ms (1 step)/140.0 ms
SPARKNaCl.Scalar                                          => 80.0 ms (1 step)/80.0 ms (1 step)/130.0 ms
SPARKNaCl.Sign.Unpackneg                                  => 80.0 ms (1 step)/80.0 ms (1 step)/80.0 ms
SPARKNaCl.Osubtract                                       => 70.0 ms (1 step)/70.0 ms (1 step)/470.0 ms
SPARKNaCl.Cryptobox.Open                                  => 70.0 ms (1 step)/70.0 ms (1 step)/320.0 ms
SPARKNaCl.Sign.Scalarmult.CSwap                           => 70.0 ms (1 step)/70.0 ms (1 step)/140.0 ms
SPARKNaCl.Stream.Salsa20                                  => 70.0 ms (1 step)/70.0 ms (1 step)/70.0 ms
SPARKNaCl.Core.Core_Common                                => 60.0 ms (1 step)/60.0 ms (1 step)/1.3 s
SPARKNaCl.Sign.Oadd                                       => 60.0 ms (1 step)/60.0 ms (1 step)/770.0 ms
SPARKNaCl.Cryptobox.AfterNM                               => 60.0 ms (1 step)/60.0 ms (1 step)/260.0 ms
SPARKNaCl.Cryptobox.Create                                => 60.0 ms (1 step)/60.0 ms (1 step)/260.0 ms
SPARKNaCl.Cryptobox.Open_AfterNM                          => 60.0 ms (1 step)/60.0 ms (1 step)/240.0 ms
SPARKNaCl.Sanitize                                        => 60.0 ms (1 step)/60.0 ms (1 step)/60.0 ms
SPARKNaCl.Sign.ModL.Initialize_XL                         => 50.0 ms (1 step)/50.0 ms (1 step)/430.0 ms
SPARKNaCl.Oadd                                            => 50.0 ms (1 step)/50.0 ms (1 step)/390.0 ms
SPARKNaCl.Core.ST32                                       => 50.0 ms (1 step)/50.0 ms (1 step)/70.0 ms
SPARKNaCl.Hashing.TS64                                    => 50.0 ms (1 step)/50.0 ms (1 step)/70.0 ms
SPARKNaCl.Car.Nearlynormal_To_Normal.Carrying_Minus_One   => 40.0 ms (1 step)/40.0 ms (1 step)/130.0 ms
SPARKNaCl.Stream.HSalsa20                                 => 40.0 ms (1 step)/40.0 ms (1 step)/110.0 ms
SPARKNaCl.Car.Nearlynormal_To_Normal.Carrying_Plus_One    => 30.0 ms (1 step)/30.0 ms (1 step)/110.0 ms
SPARKNaCl.Stream.HSalsa20_Xor                             => 30.0 ms (1 step)/30.0 ms (1 step)/90.0 ms
SPARKNaCl.MAC.Onetimeauth_Verify                          => 30.0 ms (1 step)/30.0 ms (1 step)/60.0 ms
SPARKNaCl.Sign.Par_25519                                  => 30.0 ms (1 step)/30.0 ms (1 step)/30.0 ms
SPARKNaCl.Sign.Sanitize_GF_Vector_4                       => 30.0 ms (1 step)/30.0 ms (1 step)/30.0 ms
SPARKNaCl.Sign.Unpackneg.Oeq                              => 30.0 ms (1 step)/30.0 ms (1 step)/30.0 ms
SPARKNaCl.Stream.Salsa20_Xor                              => 30.0 ms (1 step)/30.0 ms (1 step)/30.0 ms
SPARKNaCl.Sanitize_GF                                     => 20.0 ms (1 step)/20.0 ms (1 step)/20.0 ms
SPARKNaCl.Sanitize_I64_Seq                                => 20.0 ms (1 step)/20.0 ms (1 step)/20.0 ms
Random                                                    => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
Random.Random_Byte                                        => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Car                                             => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Car.Nearlynormal_To_Normal.Temp_GFPredicate     => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Car.Product_To_Seminormal.Temp_GFPredicate      => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Car.Seminormal_To_Nearlynormal.Temp_GFPredicate => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Car.Sum_To_Nearlynormal.Temp_GFPredicate        => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Core                                            => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Core.Construct                                  => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Core.LD32                                       => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Core.Salsa20_Key                                => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Core.Sanitize                                   => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Core.Serialize                                  => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Cryptobox                                       => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Cryptobox.BeforeNM                              => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Cryptobox.Construct                             => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Cryptobox.Keypair                               => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Cryptobox.Public_Key                            => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Cryptobox.Sanitize                              => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Cryptobox.Secret_Key                            => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Cryptobox.Serialize                             => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Debug                                           => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Debug.DH                                        => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Debug.DHH                                       => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Difference_GFPredicate                          => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Hashing                                         => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Hashing.Hashblocks.Ch                           => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Hashing.Hashblocks.DL64                         => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Hashing.Hashblocks.LC_Sigma0                    => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Hashing.Hashblocks.LC_Sigma1                    => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Hashing.Hashblocks.Maj                          => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Hashing.Hashblocks.UC_Sigma0                    => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Hashing.Hashblocks.UC_Sigma1                    => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.MAC                                             => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.MAC.Construct                                   => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.MAC.Onetimeauth.Add_1305                        => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.MAC.Poly_1305_Key                               => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.MAC.Sanitize                                    => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.MAC.Serialize                                   => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Nearlynormal_GFPredicate                        => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Normal_GFPredicate                              => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Oeq                                             => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.PDebug                                          => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.PDebug.DH                                       => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.PDebug.I64IO.Get                                => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.PDebug.I64IO.Put                                => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Product_GFPredicate                             => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Random_Bytes                                    => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Sanitize_Boolean                                => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Sanitize_GF_PA                                  => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Sanitize_U64                                    => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Scalar.Mult_Base                                => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Secretbox                                       => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Seminormal_GFPredicate                          => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Sign.Keypair                                    => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Sign.PK_From_Bytes                              => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Sign.Pack                                       => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Sign.Sanitize                                   => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Sign.Scalarbase                                 => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Sign.Serialize                                  => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Sign.Signing_PK                                 => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Sign.Signing_SK                                 => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Sign.Unpackneg.Pow_2523                         => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Square                                          => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Stream                                          => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Sum_GFPredicate                                 => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Utils                                           => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Utils.Inv_25519                                 => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Utils.Pack_25519.Temp_GFPredicate               => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Utils.Random_Bytes_32                           => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.to_i64GP13565                                   => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.to_i64GP13565.To_I64                            => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.to_u64GP13502                                   => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.to_u64GP13502.To_U64                            => 0.0 s (0 steps)/0.0 s (0 steps)/0.0 s
SPARKNaCl.Sign.Sign                                       => --/57.6 s (14007 steps)/489.2 s
SPARKNaCl.ASR_16                                          => --/5.7 s (14001 steps)/5.9 s
SPARKNaCl.ASR_8                                           => --/3.3 s (14001 steps)/3.5 s
SPARKNaCl.ASR_4                                           => --/1.2 s (14001 steps)/1.4 s
SPARKNaCl.Car.Nearlynormal_To_Normal                      => --/1.4 s (803 steps)/17.5 s
