Warning: Sorting by max steps ("-cp") not implemented yet, reverting to sorting by max time ("-ct").
SPARKNaCl.Sign.Sign                                       => --
SPARKNaCl.Sign.ModL.Eliminate_Limbs_62_To_32              => 9.2 s, 157187 steps/9.2 s, 157187 steps/148.2 s
SPARKNaCl.Omultiply                                       => 700.0 ms, 68029 steps/19.1 s, 505013 steps/28.6 s
SPARKNaCl.Sign.ModL.Finalize                              => 2.1 s, 47542 steps/2.1 s, 47542 steps/27.1 s
SPARKNaCl.Hashing.Hashblocks                              => 500.0 ms, 992 steps/500.0 ms, 992 steps/26.7 s
SPARKNaCl.Car.Nearlynormal_To_Normal                      => --
SPARKNaCl.Scalar.Mult                                     => 550.0 ms, 4128 steps/550.0 ms, 4128 steps/14.1 s
SPARKNaCl.Sign.ModL.Eliminate_Limb_63                     => 740.0 ms, 16135 steps/740.0 ms, 16135 steps/10.8 s
SPARKNaCl.Stream.Salsa20_Xor_Local                        => 210.0 ms, 1429 steps/210.0 ms, 1429 steps/9.9 s
SPARKNaCl.Car.Seminormal_To_Nearlynormal                  => 950.0 ms, 16776 steps/950.0 ms, 16776 steps/8.0 s
SPARKNaCl.Car.Sum_To_Nearlynormal                         => 660.0 ms, 11883 steps/660.0 ms, 11883 steps/6.6 s
SPARKNaCl.ASR_16                                          => --
SPARKNaCl.Car.Product_To_Seminormal                       => 420.0 ms, 5882 steps/420.0 ms, 5882 steps/5.4 s
SPARKNaCl.Utils.CSwap                                     => 900.0 ms, 68758 steps/900.0 ms, 68758 steps/4.8 s
SPARKNaCl.MAC.Onetimeauth                                 => 340.0 ms, 320 steps/340.0 ms, 320 steps/3.7 s
SPARKNaCl.ASR_8                                           => --
SPARKNaCl.Secretbox.Open                                  => 270.0 ms, 2131 steps/270.0 ms, 2131 steps/3.3 s
SPARKNaCl.Car.Difference_To_Nearlynormal                  => 160.0 ms, 1955 steps/160.0 ms, 1955 steps/2.9 s
SPARKNaCl.Secretbox.Create                                => 120.0 ms, 1452 steps/120.0 ms, 1452 steps/2.1 s
SPARKNaCl.Sign                                            => 250.0 ms, 6139 steps/250.0 ms, 6139 steps/2.0 s
SPARKNaCl.Hashing.Hash                                    => 190.0 ms, 1058 steps/190.0 ms, 1058 steps/1.8 s
SPARKNaCl.Utils.Pack_25519.Subtract_P                     => 150.0 ms, 155440 steps/180.0 ms, 155440 steps/1.8 s
SPARKNaCl.Sign.Open                                       => 160.0 ms, 1122 steps/160.0 ms, 1122 steps/1.5 s
SPARKNaCl.ASR_4                                           => --
SPARKNaCl.Core.Core_Common                                => 60.0 ms, 5 steps/60.0 ms, 5 steps/1.3 s
SPARKNaCl.Sign.Scalarmult                                 => 300.0 ms, 13166 steps/300.0 ms, 13166 steps/1.0 s
SPARKNaCl.Utils.Unpack_25519                              => 110.0 ms, 1994 steps/110.0 ms, 1994 steps/1.0 s
SPARKNaCl.Utils.Pack_25519                                => 150.0 ms, 2976 steps/150.0 ms, 2976 steps/870.0 ms
SPARKNaCl.Sign.Oadd                                       => 60.0 ms, 5 steps/60.0 ms, 5 steps/770.0 ms
SPARKNaCl.Equal                                           => 90.0 ms, 1760 steps/90.0 ms, 1760 steps/740.0 ms
SPARKNaCl.Core.HSalsa20                                   => 120.0 ms, 1704 steps/120.0 ms, 1704 steps/650.0 ms
SPARKNaCl.Sign.Hash_Reduce                                => 90.0 ms, 882 steps/90.0 ms, 882 steps/560.0 ms
SPARKNaCl.Osubtract                                       => 70.0 ms, 261 steps/70.0 ms, 261 steps/470.0 ms
SPARKNaCl.Sign.ModL.Initialize_XL                         => 50.0 ms, 233 steps/50.0 ms, 233 steps/430.0 ms
SPARKNaCl.Oadd                                            => 50.0 ms, 169 steps/50.0 ms, 169 steps/390.0 ms
SPARKNaCl.Cryptobox.Open                                  => 70.0 ms, 14 steps/70.0 ms, 14 steps/320.0 ms
SPARKNaCl.Sign.ModL                                       => 100.0 ms, 854 steps/100.0 ms, 854 steps/310.0 ms
SPARKNaCl                                                 => 80.0 ms, 787 steps/80.0 ms, 787 steps/260.0 ms
SPARKNaCl.Cryptobox.AfterNM                               => 60.0 ms, 14 steps/60.0 ms, 14 steps/260.0 ms
SPARKNaCl.Cryptobox.Create                                => 60.0 ms, 14 steps/60.0 ms, 14 steps/260.0 ms
SPARKNaCl.Cryptobox.Open_AfterNM                          => 60.0 ms, 14 steps/60.0 ms, 14 steps/240.0 ms
SPARKNaCl.Utils.Pack_25519.To_Bytes_32                    => 80.0 ms, 969 steps/80.0 ms, 969 steps/190.0 ms
SPARKNaCl.Sign.Keypair_From_Bytes                         => 90.0 ms, 808 steps/90.0 ms, 808 steps/170.0 ms
SPARKNaCl.Core.Salsa20                                    => 80.0 ms, 791 steps/80.0 ms, 791 steps/140.0 ms
SPARKNaCl.Sign.Scalarmult.CSwap                           => 70.0 ms, 555 steps/70.0 ms, 555 steps/140.0 ms
SPARKNaCl.Scalar                                          => 80.0 ms, 890 steps/80.0 ms, 890 steps/130.0 ms
SPARKNaCl.Car.Nearlynormal_To_Normal.Carrying_Minus_One   => 40.0 ms, 19 steps/40.0 ms, 19 steps/130.0 ms
SPARKNaCl.Stream.HSalsa20                                 => 40.0 ms, 5 steps/40.0 ms, 5 steps/110.0 ms
SPARKNaCl.Car.Nearlynormal_To_Normal.Carrying_Plus_One    => 30.0 ms, 19 steps/30.0 ms, 19 steps/110.0 ms
SPARKNaCl.Stream.HSalsa20_Xor                             => 30.0 ms, 5 steps/30.0 ms, 5 steps/90.0 ms
SPARKNaCl.Sign.Unpackneg                                  => 80.0 ms, 5 steps/80.0 ms, 5 steps/80.0 ms
SPARKNaCl.Stream.Salsa20                                  => 70.0 ms, 684 steps/70.0 ms, 684 steps/70.0 ms
SPARKNaCl.Core.ST32                                       => 50.0 ms, 89 steps/50.0 ms, 89 steps/70.0 ms
SPARKNaCl.Hashing.TS64                                    => 50.0 ms, 89 steps/50.0 ms, 89 steps/70.0 ms
SPARKNaCl.Sanitize                                        => 60.0 ms, 879 steps/60.0 ms, 879 steps/60.0 ms
SPARKNaCl.MAC.Onetimeauth_Verify                          => 30.0 ms, 5 steps/30.0 ms, 5 steps/60.0 ms
SPARKNaCl.Sign.Par_25519                                  => 30.0 ms, 5 steps/30.0 ms, 5 steps/30.0 ms
SPARKNaCl.Sign.Sanitize_GF_Vector_4                       => 30.0 ms, 35 steps/30.0 ms, 35 steps/30.0 ms
SPARKNaCl.Sign.Unpackneg.Oeq                              => 30.0 ms, 5 steps/30.0 ms, 5 steps/30.0 ms
SPARKNaCl.Stream.Salsa20_Xor                              => 30.0 ms, 5 steps/30.0 ms, 5 steps/30.0 ms
SPARKNaCl.Sanitize_GF                                     => 20.0 ms, 48 steps/20.0 ms, 48 steps/20.0 ms
SPARKNaCl.Sanitize_I64_Seq                                => 20.0 ms, 136 steps/20.0 ms, 136 steps/20.0 ms
Random                                                    => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
Random.Random_Byte                                        => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Car                                             => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Car.Nearlynormal_To_Normal.Temp_GFPredicate     => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Car.Product_To_Seminormal.Temp_GFPredicate      => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Car.Seminormal_To_Nearlynormal.Temp_GFPredicate => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Car.Sum_To_Nearlynormal.Temp_GFPredicate        => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Core                                            => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Core.Construct                                  => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Core.LD32                                       => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Core.Salsa20_Key                                => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Core.Sanitize                                   => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Core.Serialize                                  => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Cryptobox                                       => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Cryptobox.BeforeNM                              => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Cryptobox.Construct                             => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Cryptobox.Keypair                               => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Cryptobox.Public_Key                            => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Cryptobox.Sanitize                              => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Cryptobox.Secret_Key                            => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Cryptobox.Serialize                             => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Debug                                           => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Debug.DH                                        => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Debug.DHH                                       => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Difference_GFPredicate                          => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Hashing                                         => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Hashing.Hashblocks.Ch                           => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Hashing.Hashblocks.DL64                         => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Hashing.Hashblocks.LC_Sigma0                    => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Hashing.Hashblocks.LC_Sigma1                    => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Hashing.Hashblocks.Maj                          => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Hashing.Hashblocks.UC_Sigma0                    => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Hashing.Hashblocks.UC_Sigma1                    => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.MAC                                             => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.MAC.Construct                                   => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.MAC.Onetimeauth.Add_1305                        => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.MAC.Poly_1305_Key                               => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.MAC.Sanitize                                    => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.MAC.Serialize                                   => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Nearlynormal_GFPredicate                        => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Normal_GFPredicate                              => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Oeq                                             => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.PDebug                                          => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.PDebug.DH                                       => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.PDebug.I64IO.Get                                => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.PDebug.I64IO.Put                                => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Product_GFPredicate                             => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Random_Bytes                                    => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Sanitize_Boolean                                => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Sanitize_GF_PA                                  => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Sanitize_U64                                    => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Scalar.Mult_Base                                => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Secretbox                                       => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Seminormal_GFPredicate                          => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Sign.Keypair                                    => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Sign.PK_From_Bytes                              => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Sign.Pack                                       => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Sign.Sanitize                                   => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Sign.Scalarbase                                 => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Sign.Serialize                                  => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Sign.Signing_PK                                 => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Sign.Signing_SK                                 => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Sign.Unpackneg.Pow_2523                         => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Square                                          => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Stream                                          => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Sum_GFPredicate                                 => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Utils                                           => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Utils.Inv_25519                                 => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Utils.Pack_25519.Temp_GFPredicate               => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.Utils.Random_Bytes_32                           => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.to_i64GP13565                                   => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.to_i64GP13565.To_I64                            => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.to_u64GP13502                                   => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
SPARKNaCl.to_u64GP13502.To_U64                            => 0.0 s, 0 steps/0.0 s, 0 steps/0.0 s
