saatana-crypto-phelix.spark              => (Flow  => 206.5 ms,
                                             Proof => 174.3 s/206.4 s/568.7 s)
test_phelix_api.spark                    => (Flow  => 14.4 ms,
                                             Proof => 240.0 ms/240.0 ms/23.1 s)
saatana-crypto.spark                     => (Flow  => 9.0 ms,
                                             Proof => 80.0 ms/80.0 ms/6.8 s)
saatana-crypto-lemmas.spark              => (Flow  => 2.1 ms,
                                             Proof => 210.0 ms/210.0 ms/2.2 s)
saatana.spark                            => (Flow  => 464.0 µs,
                                             Proof => 0.0 s/0.0 s/0.0 s)
test_phelix.spark                        => (Flow  => 180.0 µs,
                                             Proof => 0.0 s/0.0 s/0.0 s)
saatana-crypto-stream_tools.spark        => (Flow  => 71.0 µs,
                                             Proof => 0.0 s/0.0 s/0.0 s)
saatana-crypto-phelix-test_vectors.spark => (Flow  => 24.0 µs,
                                             Proof => 0.0 s/0.0 s/0.0 s)
Saatana.Crypto.Phelix.Setup_Key                              =>                              640.0 ms/206.4 s/219.2 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:466:44            => 640.0 ms/206.4 s/207.1 s
 `-Z3: 206.4 s, 105312169 steps, Unknown (unknown)
  -CVC4: 640.0 ms, 22722 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:546:42            => 90.0 ms/90.0 ms/2.1 s
 `-Z3: 90.0 ms, 42961 steps, Valid
 `-Z3: 90.0 ms, 42951 steps, Valid
 `-Z3: 90.0 ms, 38838 steps, Valid
 `-Z3: 90.0 ms, 42951 steps, Valid
 `-Z3: 90.0 ms, 42961 steps, Valid
 `-Z3: 80.0 ms, 34747 steps, Valid
 `-Z3: 80.0 ms, 34747 steps, Valid
 `-Z3: 80.0 ms, 38838 steps, Valid
 `-Z3: 80.0 ms, 34753 steps, Valid
 `-Z3: 80.0 ms, 38830 steps, Valid
 `-Z3: 70.0 ms, 30630 steps, Valid
 `-Z3: 70.0 ms, 30626 steps, Valid
 `-Z3: 70.0 ms, 34753 steps, Valid
 `-Z3: 70.0 ms, 26513 steps, Valid
 `-Z3: 70.0 ms, 26515 steps, Valid
 `-Z3: 70.0 ms, 38830 steps, Valid
 `-Z3: 70.0 ms, 30626 steps, Valid
 `-Z3: 60.0 ms, 30630 steps, Valid
 `-Z3: 60.0 ms, 22410 steps, Valid
 `-Z3: 60.0 ms, 22410 steps, Valid
 `-Z3: 60.0 ms, 22410 steps, Valid
 `-Z3: 60.0 ms, 26515 steps, Valid
 `-Z3: 60.0 ms, 26513 steps, Valid
 `-Z3: 50.0 ms, 18317 steps, Valid
 `-Z3: 50.0 ms, 18315 steps, Valid
 `-Z3: 50.0 ms, 18315 steps, Valid
 `-Z3: 50.0 ms, 18317 steps, Valid
 `-Z3: 50.0 ms, 22410 steps, Valid
 `-Z3: 50.0 ms, 14218 steps, Valid
 `-Z3: 40.0 ms, 14214 steps, Valid
 `-Z3: 40.0 ms, 14214 steps, Valid
 `-Z3: 40.0 ms, 14218 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:545:49            => 90.0 ms/90.0 ms/2.1 s
 `-Z3: 90.0 ms, 42833 steps, Valid
 `-Z3: 90.0 ms, 42833 steps, Valid
 `-Z3: 80.0 ms, 38710 steps, Valid
 `-Z3: 80.0 ms, 42833 steps, Valid
 `-Z3: 80.0 ms, 30502 steps, Valid
 `-Z3: 80.0 ms, 38710 steps, Valid
 `-Z3: 80.0 ms, 34625 steps, Valid
 `-Z3: 80.0 ms, 42833 steps, Valid
 `-Z3: 80.0 ms, 38710 steps, Valid
 `-Z3: 80.0 ms, 38710 steps, Valid
 `-Z3: 70.0 ms, 30502 steps, Valid
 `-Z3: 70.0 ms, 30502 steps, Valid
 `-Z3: 70.0 ms, 34625 steps, Valid
 `-Z3: 70.0 ms, 34625 steps, Valid
 `-Z3: 70.0 ms, 34625 steps, Valid
 `-Z3: 70.0 ms, 26387 steps, Valid
 `-Z3: 70.0 ms, 26387 steps, Valid
 `-Z3: 70.0 ms, 26387 steps, Valid
 `-Z3: 70.0 ms, 30502 steps, Valid
 `-Z3: 60.0 ms, 26387 steps, Valid
 `-Z3: 50.0 ms, 14070 steps, Valid
 `-Z3: 50.0 ms, 18185 steps, Valid
 `-Z3: 50.0 ms, 18185 steps, Valid
 `-Z3: 50.0 ms, 18185 steps, Valid
 `-Z3: 50.0 ms, 18185 steps, Valid
 `-Z3: 50.0 ms, 22282 steps, Valid
 `-Z3: 50.0 ms, 22282 steps, Valid
 `-Z3: 50.0 ms, 22282 steps, Valid
 `-Z3: 50.0 ms, 22282 steps, Valid
 `-Z3: 40.0 ms, 14070 steps, Valid
 `-Z3: 40.0 ms, 14070 steps, Valid
 `-Z3: 40.0 ms, 14070 steps, Valid
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:545:49           => 140.0 ms/140.0 ms/1.9 s
 `-Z3: 140.0 ms, 137091 steps, Valid
 `-Z3: 140.0 ms, 136894 steps, Valid
 `-Z3: 110.0 ms, 110633 steps, Valid
 `-Z3: 100.0 ms, 59198 steps, Valid
 `-Z3: 100.0 ms, 110437 steps, Valid
 `-Z3: 90.0 ms, 52117 steps, Valid
 `-Z3: 90.0 ms, 53498 steps, Valid
 `-Z3: 90.0 ms, 42900 steps, Valid
 `-Z3: 90.0 ms, 57817 steps, Valid
 `-Z3: 80.0 ms, 38777 steps, Valid
 `-Z3: 80.0 ms, 46455 steps, Valid
 `-Z3: 80.0 ms, 47836 steps, Valid
 `-Z3: 70.0 ms, 40755 steps, Valid
 `-Z3: 70.0 ms, 42136 steps, Valid
 `-Z3: 70.0 ms, 30569 steps, Valid
 `-Z3: 70.0 ms, 34692 steps, Valid
 `-Z3: 70.0 ms, 36444 steps, Valid
 `-Z3: 60.0 ms, 29367 steps, Valid
 `-Z3: 60.0 ms, 30682 steps, Valid
 `-Z3: 60.0 ms, 22349 steps, Valid
 `-Z3: 60.0 ms, 26454 steps, Valid
 `-Z3: 60.0 ms, 35063 steps, Valid
 `-Z3: 40.0 ms, 14141 steps, Valid
 `-Z3: 40.0 ms, 18252 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_POSTCONDITION saatana-crypto-phelix.ads:187:17          => 350.0 ms/350.0 ms/1.2 s
 `-Z3: 350.0 ms, 319353 steps, Valid
 `-Z3: 320.0 ms, 319368 steps, Valid
 `-Z3: 290.0 ms, 284096 steps, Valid
 `-Z3: 270.0 ms, 283909 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:508:36            => 150.0 ms/150.0 ms/730.0 ms
 `-Z3: 150.0 ms, 116580 steps, Valid
 `-Z3: 130.0 ms, 111597 steps, Valid
 `-Z3: 130.0 ms, 114023 steps, Valid
 `-Z3: 120.0 ms, 113610 steps, Valid
 `-Z3: 90.0 ms, 82812 steps, Valid
 `-Z3: 40.0 ms, 11601 steps, Valid
 `-Z3: 40.0 ms, 11271 steps, Valid
 `-Z3: 30.0 ms, 11356 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:504:48            => 130.0 ms/130.0 ms/730.0 ms
 `-Z3: 130.0 ms, 144078 steps, Valid
 `-Z3: 120.0 ms, 158074 steps, Valid
 `-Z3: 100.0 ms, 99459 steps, Valid
 `-Z3: 100.0 ms, 100353 steps, Valid
 `-Z3: 70.0 ms, 72138 steps, Valid
 `-Z3: 70.0 ms, 72128 steps, Valid
 `-Z3: 70.0 ms, 74668 steps, Valid
 `-Z3: 70.0 ms, 67727 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:534:48         => 80.0 ms/80.0 ms/470.0 ms
 `-Z3: 80.0 ms, 35143 steps, Valid
 `-Z3: 80.0 ms, 39228 steps, Valid
 `-Z3: 70.0 ms, 31020 steps, Valid
 `-Z3: 60.0 ms, 26905 steps, Valid
 `-Z3: 50.0 ms, 18705 steps, Valid
 `-Z3: 50.0 ms, 22800 steps, Valid
 `-Z3: 40.0 ms, 14606 steps, Valid
 `-Z3: 40.0 ms, 10439 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:525:28         => 80.0 ms/80.0 ms/460.0 ms
 `-Z3: 80.0 ms, 39181 steps, Valid
 `-Z3: 70.0 ms, 30973 steps, Valid
 `-Z3: 70.0 ms, 35096 steps, Valid
 `-Z3: 60.0 ms, 22753 steps, Valid
 `-Z3: 60.0 ms, 26858 steps, Valid
 `-Z3: 50.0 ms, 18658 steps, Valid
 `-Z3: 40.0 ms, 14557 steps, Valid
 `-Z3: 30.0 ms, 10384 steps, Valid
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:506:19 => 440.0 ms/440.0 ms/440.0 ms
 `-Z3: 440.0 ms, 416173 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:508:36            => 160.0 ms/160.0 ms/250.0 ms
 `-Z3: 160.0 ms, 127895 steps, Valid
 `-Z3: 90.0 ms, 93526 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:509:113        => 140.0 ms/140.0 ms/230.0 ms
 `-Z3: 140.0 ms, 115023 steps, Valid
 `-Z3: 90.0 ms, 77178 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:509:69         => 180.0 ms/180.0 ms/220.0 ms
 `-Z3: 180.0 ms, 126178 steps, Valid
 `-Z3: 40.0 ms, 11467 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:504:48            => 100.0 ms/100.0 ms/180.0 ms
 `-Z3: 100.0 ms, 108057 steps, Valid
 `-Z3: 80.0 ms, 76561 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:500:46            => 100.0 ms/100.0 ms/170.0 ms
 `-Z3: 100.0 ms, 103613 steps, Valid
 `-Z3: 70.0 ms, 67326 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:502:45            => 100.0 ms/100.0 ms/170.0 ms
 `-Z3: 100.0 ms, 104634 steps, Valid
 `-Z3: 70.0 ms, 75605 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:500:62         => 110.0 ms/110.0 ms/150.0 ms
 `-Z3: 110.0 ms, 104461 steps, Valid
 `-Z3: 40.0 ms, 9835 steps, Valid
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:506:19    => 110.0 ms/110.0 ms/110.0 ms
 `-Z3: 110.0 ms, 148792 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:500:116        => 70.0 ms/70.0 ms/110.0 ms
 `-Z3: 70.0 ms, 64552 steps, Valid
 `-Z3: 40.0 ms, 12357 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.ads:189:43            => 90.0 ms/90.0 ms/90.0 ms
 `-Z3: 90.0 ms, 59168 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:508:51         => 40.0 ms/40.0 ms/80.0 ms
 `-Z3: 40.0 ms, 14081 steps, Valid
 `-Z3: 40.0 ms, 11321 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:466:49            => 60.0 ms/60.0 ms/60.0 ms
 `-Z3: 60.0 ms, 54358 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:487:36         => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 7355 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:487:58         => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 7355 steps, Valid
`-VC_PREDICATE_CHECK saatana-crypto-phelix.adb:466:44        => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 6970 steps, Valid
Saatana.Crypto.Phelix.Encrypt_Bytes                          =>                              174.3 s/174.3 s/189.0 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:231:19            => 174.3 s/174.3 s/175.0 s
 `-Z3: 174.3 s, 8585912 steps, Valid
 `-Z3: 180.0 ms, 188199 steps, Valid
 `-Z3: 120.0 ms, 119094 steps, Valid
 `-Z3: 90.0 ms, 128229 steps, Valid
 `-Z3: 90.0 ms, 108667 steps, Valid
 `-Z3: 90.0 ms, 108685 steps, Valid
 `-Z3: 70.0 ms, 61319 steps, Valid
 `-Z3: 60.0 ms, 41844 steps, Valid
`-VC_POSTCONDITION saatana-crypto-phelix.ads:262:17          => 2.0 s/2.0 s/3.2 s
 `-Z3: 2.0 s, 905374 steps, Valid
 `-Z3: 190.0 ms, 175674 steps, Valid
 `-Z3: 180.0 ms, 182876 steps, Valid
 `-Z3: 180.0 ms, 175687 steps, Valid
 `-Z3: 160.0 ms, 173569 steps, Valid
 `-Z3: 160.0 ms, 170986 steps, Valid
 `-Z3: 150.0 ms, 173740 steps, Valid
 `-Z3: 140.0 ms, 171647 steps, Valid
 `-Z3: 80.0 ms, 69448 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:232:38            => 190.0 ms/190.0 ms/1.2 s
 `-Z3: 190.0 ms, 201794 steps, Valid
 `-Z3: 180.0 ms, 192961 steps, Valid
 `-Z3: 170.0 ms, 185220 steps, Valid
 `-Z3: 160.0 ms, 185207 steps, Valid
 `-Z3: 120.0 ms, 125588 steps, Valid
 `-Z3: 120.0 ms, 117606 steps, Valid
 `-Z3: 110.0 ms, 117606 steps, Valid
 `-Z3: 110.0 ms, 121708 steps, Valid
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:252:39    => 1.1 s/1.1 s/1.1 s
 `-Z3: 1.1 s, 1108158 steps, Valid
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:232:38           => 200.0 ms/200.0 ms/920.0 ms
 `-Z3: 200.0 ms, 198801 steps, Valid
 `-Z3: 180.0 ms, 194222 steps, Valid
 `-Z3: 180.0 ms, 194503 steps, Valid
 `-Z3: 130.0 ms, 125505 steps, Valid
 `-Z3: 120.0 ms, 123298 steps, Valid
 `-Z3: 110.0 ms, 123028 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:229:47            => 170.0 ms/170.0 ms/810.0 ms
 `-Z3: 170.0 ms, 178800 steps, Valid
 `-Z3: 170.0 ms, 178702 steps, Valid
 `-Z3: 140.0 ms, 169719 steps, Valid
 `-Z3: 100.0 ms, 101748 steps, Valid
 `-Z3: 70.0 ms, 96633 steps, Valid
 `-Z3: 60.0 ms, 48429 steps, Valid
 `-Z3: 50.0 ms, 48421 steps, Valid
 `-Z3: 50.0 ms, 31856 steps, Valid
`-VC_INDEX_CHECK saatana-crypto-phelix.adb:253:54            => 180.0 ms/180.0 ms/470.0 ms
 `-Z3: 180.0 ms, 208678 steps, Valid
 `-Z3: 140.0 ms, 143042 steps, Valid
 `-Z3: 80.0 ms, 121252 steps, Valid
 `-Z3: 70.0 ms, 72384 steps, Valid
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:249:39    => 160.0 ms/160.0 ms/450.0 ms
 `-Z3: 160.0 ms, 153676 steps, Valid
 `-Z3: 160.0 ms, 153241 steps, Valid
 `-Z3: 70.0 ms, 72220 steps, Valid
 `-Z3: 60.0 ms, 49461 steps, Valid
`-VC_INITIALIZATION_CHECK saatana-crypto-phelix.adb:229:47   => 340.0 ms/340.0 ms/440.0 ms
 `-Z3: 340.0 ms, 413229 steps, Valid
 `-Z3: 100.0 ms, 104648 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:249:39 => 170.0 ms/170.0 ms/390.0 ms
 `-Z3: 170.0 ms, 208230 steps, Valid
 `-Z3: 80.0 ms, 72979 steps, Valid
 `-Z3: 70.0 ms, 72941 steps, Valid
 `-Z3: 70.0 ms, 72983 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:250:113        => 200.0 ms/200.0 ms/350.0 ms
 `-Z3: 200.0 ms, 213806 steps, Valid
 `-Z3: 150.0 ms, 145583 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:240:39            => 210.0 ms/210.0 ms/340.0 ms
 `-Z3: 210.0 ms, 215003 steps, Valid
 `-Z3: 130.0 ms, 142641 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:249:71         => 200.0 ms/200.0 ms/330.0 ms
 `-Z3: 200.0 ms, 214249 steps, Valid
 `-Z3: 130.0 ms, 142325 steps, Valid
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:231:56           => 60.0 ms/60.0 ms/310.0 ms
 `-Z3: 60.0 ms, 21290 steps, Valid
 `-Z3: 60.0 ms, 21302 steps, Valid
 `-Z3: 50.0 ms, 14175 steps, Valid
 `-Z3: 50.0 ms, 14147 steps, Valid
 `-Z3: 50.0 ms, 21330 steps, Valid
 `-Z3: 40.0 ms, 14135 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_LOOP_VARIANT saatana-crypto-phelix.adb:244:16           => 290.0 ms/290.0 ms/290.0 ms
 `-Z3: 290.0 ms, 305515 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:229:47            => 170.0 ms/170.0 ms/270.0 ms
 `-Z3: 170.0 ms, 190249 steps, Valid
 `-Z3: 100.0 ms, 107953 steps, Valid
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:252:39 => 260.0 ms/260.0 ms/260.0 ms
 `-Z3: 260.0 ms, 257996 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:250:103        => 160.0 ms/160.0 ms/260.0 ms
 `-Z3: 160.0 ms, 154505 steps, Valid
 `-Z3: 100.0 ms, 142220 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:249:61         => 140.0 ms/140.0 ms/250.0 ms
 `-Z3: 140.0 ms, 142107 steps, Valid
 `-Z3: 110.0 ms, 142605 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:221:38            => 160.0 ms/160.0 ms/240.0 ms
 `-Z3: 160.0 ms, 171463 steps, Valid
 `-Z3: 80.0 ms, 91001 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:222:38            => 160.0 ms/160.0 ms/240.0 ms
 `-Z3: 160.0 ms, 172252 steps, Valid
 `-Z3: 80.0 ms, 91662 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:237:61            => 60.0 ms/60.0 ms/220.0 ms
 `-Z3: 60.0 ms, 23393 steps, Valid
 `-Z3: 60.0 ms, 23369 steps, Valid
 `-Z3: 50.0 ms, 16238 steps, Valid
 `-Z3: 50.0 ms, 16214 steps, Valid
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:205:22           => 80.0 ms/80.0 ms/200.0 ms
 `-Z3: 80.0 ms, 87720 steps, Valid
 `-Z3: 70.0 ms, 86017 steps, Valid
 `-Z3: 50.0 ms, 53464 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:228:100           => 50.0 ms/50.0 ms/190.0 ms
 `-Z3: 50.0 ms, 11827 steps, Valid
 `-Z3: 50.0 ms, 19038 steps, Valid
 `-Z3: 50.0 ms, 19014 steps, Valid
 `-Z3: 40.0 ms, 11803 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:224:41            => 50.0 ms/50.0 ms/180.0 ms
 `-Z3: 50.0 ms, 17363 steps, Valid
 `-Z3: 50.0 ms, 17339 steps, Valid
 `-Z3: 40.0 ms, 10112 steps, Valid
 `-Z3: 40.0 ms, 10088 steps, Valid
`-VC_ASSERT saatana-crypto-phelix.adb:262:22                 => 170.0 ms/170.0 ms/170.0 ms
 `-Z3: 170.0 ms, 206414 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:219:74            => 80.0 ms/80.0 ms/130.0 ms
 `-Z3: 80.0 ms, 104335 steps, Valid
 `-Z3: 50.0 ms, 51808 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:237:61         => 60.0 ms/60.0 ms/110.0 ms
 `-Z3: 60.0 ms, 23353 steps, Valid
 `-Z3: 50.0 ms, 16198 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:228:100        => 60.0 ms/60.0 ms/100.0 ms
 `-Z3: 60.0 ms, 18998 steps, Valid
 `-Z3: 40.0 ms, 11787 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:232:40            => 60.0 ms/60.0 ms/100.0 ms
 `-Z3: 60.0 ms, 27814 steps, Valid
 `-Z3: 40.0 ms, 17701 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:224:41         => 50.0 ms/50.0 ms/90.0 ms
 `-Z3: 50.0 ms, 17323 steps, Valid
 `-Z3: 40.0 ms, 10072 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:212:50            => 80.0 ms/80.0 ms/80.0 ms
 `-Z3: 80.0 ms, 87840 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:213:55            => 70.0 ms/70.0 ms/70.0 ms
 `-Z3: 70.0 ms, 89784 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.ads:265:87            => 60.0 ms/60.0 ms/60.0 ms
 `-Z3: 60.0 ms, 18926 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:265:87         => 50.0 ms/50.0 ms/50.0 ms
 `-Z3: 50.0 ms, 18880 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:200:61         => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 9318 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:261:37         => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 9272 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:200:61            => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 9356 steps, Valid
Saatana.Crypto.Phelix.Decrypt_Bytes                          =>                              4.0 s/4.0 s/18.6 s
`-VC_POSTCONDITION saatana-crypto-phelix.ads:292:17          => 4.0 s/4.0 s/5.2 s
 `-Z3: 4.0 s, 1090965 steps, Valid
 `-Z3: 200.0 ms, 190359 steps, Valid
 `-Z3: 170.0 ms, 180692 steps, Valid
 `-Z3: 170.0 ms, 182106 steps, Valid
 `-Z3: 160.0 ms, 180861 steps, Valid
 `-Z3: 160.0 ms, 182124 steps, Valid
 `-Z3: 150.0 ms, 178797 steps, Valid
 `-Z3: 150.0 ms, 178136 steps, Valid
 `-Z3: 80.0 ms, 72236 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:148:39 => 2.6 s/2.6 s/2.6 s
 `-Z3: 2.6 s, 3114117 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:127:37            => 200.0 ms/200.0 ms/1.0 s
 `-Z3: 200.0 ms, 209285 steps, Valid
 `-Z3: 190.0 ms, 201415 steps, Valid
 `-Z3: 120.0 ms, 130251 steps, Valid
 `-Z3: 110.0 ms, 125846 steps, Valid
 `-Z3: 110.0 ms, 125846 steps, Valid
 `-Z3: 100.0 ms, 130354 steps, Valid
 `-Z3: 70.0 ms, 39370 steps, Valid
 `-Z3: 60.0 ms, 42623 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:126:19            => 200.0 ms/200.0 ms/890.0 ms
 `-Z3: 200.0 ms, 203224 steps, Valid
 `-Z3: 180.0 ms, 202470 steps, Valid
 `-Z3: 110.0 ms, 127076 steps, Valid
 `-Z3: 100.0 ms, 137189 steps, Valid
 `-Z3: 90.0 ms, 115493 steps, Valid
 `-Z3: 90.0 ms, 115511 steps, Valid
 `-Z3: 70.0 ms, 64637 steps, Valid
 `-Z3: 50.0 ms, 43461 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:124:34            => 190.0 ms/190.0 ms/860.0 ms
 `-Z3: 190.0 ms, 188362 steps, Valid
 `-Z3: 170.0 ms, 188457 steps, Valid
 `-Z3: 160.0 ms, 182350 steps, Valid
 `-Z3: 100.0 ms, 107540 steps, Valid
 `-Z3: 90.0 ms, 102636 steps, Valid
 `-Z3: 60.0 ms, 51011 steps, Valid
 `-Z3: 50.0 ms, 51003 steps, Valid
 `-Z3: 40.0 ms, 33457 steps, Valid
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:127:37           => 210.0 ms/210.0 ms/810.0 ms
 `-Z3: 210.0 ms, 228671 steps, Valid
 `-Z3: 190.0 ms, 209829 steps, Valid
 `-Z3: 130.0 ms, 140997 steps, Valid
 `-Z3: 130.0 ms, 131597 steps, Valid
 `-Z3: 90.0 ms, 115081 steps, Valid
 `-Z3: 60.0 ms, 64259 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_INDEX_CHECK saatana-crypto-phelix.adb:124:108           => 180.0 ms/180.0 ms/540.0 ms
 `-Z3: 180.0 ms, 197081 steps, Valid
 `-Z3: 160.0 ms, 187414 steps, Valid
 `-Z3: 100.0 ms, 106996 steps, Valid
 `-Z3: 100.0 ms, 107804 steps, Valid
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:145:39    => 170.0 ms/170.0 ms/480.0 ms
 `-Z3: 170.0 ms, 165110 steps, Valid
 `-Z3: 170.0 ms, 164909 steps, Valid
 `-Z3: 80.0 ms, 76668 steps, Valid
 `-Z3: 60.0 ms, 51308 steps, Valid
`-VC_INDEX_CHECK saatana-crypto-phelix.adb:149:54            => 200.0 ms/200.0 ms/470.0 ms
 `-Z3: 200.0 ms, 226945 steps, Valid
 `-Z3: 110.0 ms, 150650 steps, Valid
 `-Z3: 90.0 ms, 129658 steps, Valid
 `-Z3: 70.0 ms, 76832 steps, Valid
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:145:39 => 200.0 ms/200.0 ms/440.0 ms
 `-Z3: 200.0 ms, 226380 steps, Valid
 `-Z3: 90.0 ms, 75067 steps, Valid
 `-Z3: 80.0 ms, 75105 steps, Valid
 `-Z3: 70.0 ms, 75109 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:145:71         => 220.0 ms/220.0 ms/360.0 ms
 `-Z3: 220.0 ms, 233297 steps, Valid
 `-Z3: 140.0 ms, 153790 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:146:111        => 210.0 ms/210.0 ms/360.0 ms
 `-Z3: 210.0 ms, 232830 steps, Valid
 `-Z3: 150.0 ms, 153231 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:135:40            => 210.0 ms/210.0 ms/360.0 ms
 `-Z3: 210.0 ms, 232300 steps, Valid
 `-Z3: 150.0 ms, 152582 steps, Valid
`-VC_INITIALIZATION_CHECK saatana-crypto-phelix.adb:124:34   => 230.0 ms/230.0 ms/350.0 ms
 `-Z3: 230.0 ms, 259184 steps, Valid
 `-Z3: 120.0 ms, 157795 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:126:56           => 60.0 ms/60.0 ms/300.0 ms
 `-Z3: 60.0 ms, 21855 steps, Valid
 `-Z3: 60.0 ms, 21883 steps, Valid
 `-Z3: 50.0 ms, 21843 steps, Valid
 `-Z3: 50.0 ms, 14649 steps, Valid
 `-Z3: 40.0 ms, 14637 steps, Valid
 `-Z3: 40.0 ms, 14677 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:124:34            => 180.0 ms/180.0 ms/280.0 ms
 `-Z3: 180.0 ms, 203229 steps, Valid
 `-Z3: 100.0 ms, 112689 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:145:61         => 150.0 ms/150.0 ms/260.0 ms
 `-Z3: 150.0 ms, 153569 steps, Valid
 `-Z3: 110.0 ms, 153731 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:107:38            => 170.0 ms/170.0 ms/250.0 ms
 `-Z3: 170.0 ms, 184840 steps, Valid
 `-Z3: 80.0 ms, 96598 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:108:38            => 160.0 ms/160.0 ms/240.0 ms
 `-Z3: 160.0 ms, 175076 steps, Valid
 `-Z3: 80.0 ms, 97259 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:146:101        => 140.0 ms/140.0 ms/240.0 ms
 `-Z3: 140.0 ms, 153023 steps, Valid
 `-Z3: 100.0 ms, 153346 steps, Valid
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:148:39    => 230.0 ms/230.0 ms/230.0 ms
 `-Z3: 230.0 ms, 263770 steps, Valid
`-VC_LOOP_VARIANT saatana-crypto-phelix.adb:139:16           => 210.0 ms/210.0 ms/210.0 ms
 `-Z3: 210.0 ms, 238883 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:132:61            => 60.0 ms/60.0 ms/210.0 ms
 `-Z3: 60.0 ms, 23946 steps, Valid
 `-Z3: 50.0 ms, 16740 steps, Valid
 `-Z3: 50.0 ms, 23922 steps, Valid
 `-Z3: 50.0 ms, 16716 steps, Valid
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:92:22            => 80.0 ms/80.0 ms/200.0 ms
 `-Z3: 80.0 ms, 93306 steps, Valid
 `-Z3: 70.0 ms, 91603 steps, Valid
 `-Z3: 50.0 ms, 56762 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:115:96            => 60.0 ms/60.0 ms/190.0 ms
 `-Z3: 60.0 ms, 19528 steps, Valid
 `-Z3: 50.0 ms, 19552 steps, Valid
 `-Z3: 40.0 ms, 12290 steps, Valid
 `-Z3: 40.0 ms, 12266 steps, Valid
`-VC_ASSERT saatana-crypto-phelix.adb:158:22                 => 180.0 ms/180.0 ms/180.0 ms
 `-Z3: 180.0 ms, 201123 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:110:41            => 50.0 ms/50.0 ms/160.0 ms
 `-Z3: 50.0 ms, 17879 steps, Valid
 `-Z3: 40.0 ms, 10575 steps, Valid
 `-Z3: 40.0 ms, 17855 steps, Valid
 `-Z3: 30.0 ms, 10551 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:105:74            => 80.0 ms/80.0 ms/130.0 ms
 `-Z3: 80.0 ms, 111870 steps, Valid
 `-Z3: 50.0 ms, 54942 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:110:41         => 60.0 ms/60.0 ms/100.0 ms
 `-Z3: 60.0 ms, 17839 steps, Valid
 `-Z3: 40.0 ms, 10535 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:132:61         => 60.0 ms/60.0 ms/100.0 ms
 `-Z3: 60.0 ms, 23906 steps, Valid
 `-Z3: 40.0 ms, 16700 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:127:39            => 60.0 ms/60.0 ms/100.0 ms
 `-Z3: 60.0 ms, 28601 steps, Valid
 `-Z3: 40.0 ms, 18395 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:98:49             => 80.0 ms/80.0 ms/80.0 ms
 `-Z3: 80.0 ms, 93437 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:99:54             => 80.0 ms/80.0 ms/80.0 ms
 `-Z3: 80.0 ms, 95381 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:115:96         => 40.0 ms/40.0 ms/80.0 ms
 `-Z3: 40.0 ms, 19512 steps, Valid
 `-Z3: 40.0 ms, 12250 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.ads:295:87            => 60.0 ms/60.0 ms/60.0 ms
 `-Z3: 60.0 ms, 19497 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:295:87         => 50.0 ms/50.0 ms/50.0 ms
 `-Z3: 50.0 ms, 19451 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:291:37         => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 9739 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:87:61          => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 9785 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:87:61             => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 9823 steps, Valid
Test_Phelix_API                                              =>                              240.0 ms/240.0 ms/9.1 s
`-VC_PRECONDITION test_phelix_api.adb:132:25                 => 200.0 ms/200.0 ms/930.0 ms
 `-Z3: 200.0 ms, 240310 steps, Valid
 `-Z3: 190.0 ms, 241619 steps, Valid
 `-Z3: 170.0 ms, 194993 steps, Valid
 `-Z3: 160.0 ms, 214669 steps, Valid
 `-Z3: 160.0 ms, 211079 steps, Valid
 `-Z3: 50.0 ms, 17944 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_PRECONDITION test_phelix_api.adb:119:25                 => 170.0 ms/170.0 ms/800.0 ms
 `-Z3: 170.0 ms, 197950 steps, Valid
 `-Z3: 160.0 ms, 198890 steps, Valid
 `-Z3: 150.0 ms, 183036 steps, Valid
 `-Z3: 140.0 ms, 171919 steps, Valid
 `-Z3: 140.0 ms, 172017 steps, Valid
 `-Z3: 40.0 ms, 16825 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_LENGTH_CHECK test_phelix_api.adb:98:20                  => 140.0 ms/140.0 ms/400.0 ms
 `-Z3: 140.0 ms, 157294 steps, Valid
 `-Z3: 130.0 ms, 143582 steps, Valid
 `-Z3: 130.0 ms, 151189 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_PRECONDITION test_phelix_api.adb:99:25                  => 130.0 ms/130.0 ms/390.0 ms
 `-Z3: 130.0 ms, 147793 steps, Valid
 `-Z3: 130.0 ms, 171633 steps, Valid
 `-Z3: 50.0 ms, 14429 steps, Valid
 `-Z3: 40.0 ms, 14431 steps, Valid
 `-Z3: 40.0 ms, 19113 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_PRECONDITION test_phelix_api.adb:101:25                 => 140.0 ms/140.0 ms/370.0 ms
 `-Z3: 140.0 ms, 170952 steps, Valid
 `-Z3: 140.0 ms, 179458 steps, Valid
 `-Z3: 50.0 ms, 20133 steps, Valid
 `-Z3: 40.0 ms, 20081 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_RANGE_CHECK test_phelix_api.adb:83:22                   => 90.0 ms/90.0 ms/320.0 ms
 `-Z3: 90.0 ms, 106689 steps, Valid
 `-Z3: 90.0 ms, 113398 steps, Valid
 `-Z3: 90.0 ms, 106428 steps, Valid
 `-Z3: 50.0 ms, 66231 steps, Valid
`-VC_PRECONDITION test_phelix_api.adb:77:25                  => 90.0 ms/90.0 ms/300.0 ms
 `-Z3: 90.0 ms, 102292 steps, Valid
 `-Z3: 80.0 ms, 98022 steps, Valid
 `-Z3: 50.0 ms, 13558 steps, Valid
 `-Z3: 40.0 ms, 10530 steps, Valid
 `-Z3: 40.0 ms, 10528 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_RANGE_CHECK test_phelix_api.adb:97:4                    => 100.0 ms/100.0 ms/290.0 ms
 `-Z3: 100.0 ms, 130331 steps, Valid
 `-Z3: 100.0 ms, 130538 steps, Valid
 `-Z3: 50.0 ms, 18460 steps, Valid
 `-Z3: 40.0 ms, 18513 steps, Valid
`-VC_RANGE_CHECK test_phelix_api.adb:79:4                    => 100.0 ms/100.0 ms/280.0 ms
 `-Z3: 100.0 ms, 117465 steps, Valid
 `-Z3: 90.0 ms, 116950 steps, Valid
 `-Z3: 50.0 ms, 14507 steps, Valid
 `-Z3: 40.0 ms, 14452 steps, Valid
`-VC_PRECONDITION test_phelix_api.adb:80:25                  => 100.0 ms/100.0 ms/260.0 ms
 `-Z3: 100.0 ms, 124686 steps, Valid
 `-Z3: 80.0 ms, 114536 steps, Valid
 `-Z3: 40.0 ms, 15399 steps, Valid
 `-Z3: 40.0 ms, 15347 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_RANGE_CHECK test_phelix_api.adb:104:22                  => 100.0 ms/100.0 ms/260.0 ms
 `-Z3: 100.0 ms, 138227 steps, Valid
 `-Z3: 70.0 ms, 85475 steps, Valid
 `-Z3: 50.0 ms, 20617 steps, Valid
 `-Z3: 40.0 ms, 20617 steps, Valid
`-VC_LENGTH_CHECK test_phelix_api.adb:79:44                  => 90.0 ms/90.0 ms/260.0 ms
 `-Z3: 90.0 ms, 108865 steps, Valid
 `-Z3: 90.0 ms, 117053 steps, Valid
 `-Z3: 80.0 ms, 115938 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_INITIALIZATION_CHECK test_phelix_api.adb:144:33         => 240.0 ms/240.0 ms/240.0 ms
 `-Z3: 240.0 ms, 276585 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_INITIALIZATION_CHECK test_phelix_api.adb:144:16         => 220.0 ms/220.0 ms/220.0 ms
 `-Z3: 220.0 ms, 260248 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_PRECONDITION test_phelix_api.adb:105:25                 => 150.0 ms/150.0 ms/200.0 ms
 `-Z3: 150.0 ms, 186087 steps, Valid
 `-Z3: 50.0 ms, 21404 steps, Valid
`-VC_RANGE_CHECK test_phelix_api.adb:100:47                  => 50.0 ms/50.0 ms/190.0 ms
 `-Z3: 50.0 ms, 19152 steps, Valid
 `-Z3: 50.0 ms, 19152 steps, Valid
 `-Z3: 50.0 ms, 19010 steps, Valid
 `-Z3: 40.0 ms, 19063 steps, Valid
`-VC_RANGE_CHECK test_phelix_api.adb:135:51                  => 50.0 ms/50.0 ms/190.0 ms
 `-Z3: 50.0 ms, 25150 steps, Valid
 `-Z3: 50.0 ms, 23759 steps, Valid
 `-Z3: 50.0 ms, 23706 steps, Valid
 `-Z3: 40.0 ms, 25152 steps, Valid
`-VC_RANGE_CHECK test_phelix_api.adb:136:18                  => 50.0 ms/50.0 ms/190.0 ms
 `-Z3: 50.0 ms, 24987 steps, Valid
 `-Z3: 50.0 ms, 24313 steps, Valid
 `-Z3: 50.0 ms, 24313 steps, Valid
 `-Z3: 40.0 ms, 24987 steps, Valid
`-VC_LENGTH_CHECK test_phelix_api.adb:59:69                  => 70.0 ms/70.0 ms/180.0 ms
 `-Z3: 70.0 ms, 83337 steps, Valid
 `-Z3: 70.0 ms, 83354 steps, Valid
 `-Z3: 40.0 ms, 43771 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_RANGE_CHECK test_phelix_api.adb:98:39                   => 50.0 ms/50.0 ms/180.0 ms
 `-Z3: 50.0 ms, 18747 steps, Valid
 `-Z3: 50.0 ms, 18108 steps, Valid
 `-Z3: 40.0 ms, 18747 steps, Valid
 `-Z3: 40.0 ms, 18055 steps, Valid
`-VC_PRECONDITION test_phelix_api.adb:95:25                  => 130.0 ms/130.0 ms/170.0 ms
 `-Z3: 130.0 ms, 137968 steps, Valid
 `-Z3: 40.0 ms, 13233 steps, Valid
`-VC_LENGTH_CHECK test_phelix_api.adb:58:69                  => 60.0 ms/60.0 ms/170.0 ms
 `-Z3: 60.0 ms, 75732 steps, Valid
 `-Z3: 60.0 ms, 75739 steps, Valid
 `-Z3: 50.0 ms, 36984 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_RANGE_CHECK test_phelix_api.adb:144:33                  => 160.0 ms/160.0 ms/160.0 ms
 `-Z3: 160.0 ms, 192126 steps, Valid
`-VC_PRECONDITION test_phelix_api.adb:84:25                  => 110.0 ms/110.0 ms/160.0 ms
 `-Z3: 110.0 ms, 138434 steps, Valid
 `-Z3: 50.0 ms, 16608 steps, Valid
`-VC_LENGTH_CHECK test_phelix_api.adb:79:27                  => 60.0 ms/60.0 ms/160.0 ms
 `-Z3: 60.0 ms, 52695 steps, Valid
 `-Z3: 50.0 ms, 52707 steps, Valid
 `-Z3: 50.0 ms, 36315 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_PRECONDITION test_phelix_api.adb:129:25                 => 150.0 ms/150.0 ms/150.0 ms
 `-Z3: 150.0 ms, 181788 steps, Valid
`-VC_RANGE_CHECK test_phelix_api.adb:103:22                  => 40.0 ms/40.0 ms/150.0 ms
 `-Z3: 40.0 ms, 20844 steps, Valid
 `-Z3: 40.0 ms, 20844 steps, Valid
 `-Z3: 40.0 ms, 20124 steps, Valid
 `-Z3: 30.0 ms, 20124 steps, Valid
`-VC_PRECONDITION test_phelix_api.adb:116:25                 => 140.0 ms/140.0 ms/140.0 ms
 `-Z3: 140.0 ms, 171325 steps, Valid
`-VC_LENGTH_CHECK test_phelix_api.adb:97:27                  => 50.0 ms/50.0 ms/130.0 ms
 `-Z3: 50.0 ms, 19345 steps, Valid
 `-Z3: 40.0 ms, 19341 steps, Valid
 `-Z3: 40.0 ms, 19367 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_PRECONDITION test_phelix_api.adb:92:25                  => 120.0 ms/120.0 ms/120.0 ms
 `-Z3: 120.0 ms, 131177 steps, Valid
`-VC_RANGE_CHECK test_phelix_api.adb:98:39                   => 120.0 ms/120.0 ms/120.0 ms
 `-Z3: 120.0 ms, 155824 steps, Valid
`-VC_PRECONDITION test_phelix_api.adb:75:25                  => 80.0 ms/80.0 ms/120.0 ms
 `-Z3: 80.0 ms, 98565 steps, Valid
 `-Z3: 40.0 ms, 10134 steps, Valid
`-VC_RANGE_CHECK test_phelix_api.adb:51:12                   => 70.0 ms/70.0 ms/110.0 ms
 `-Z3: 70.0 ms, 75881 steps, Valid
 `-Z3: 40.0 ms, 8780 steps, Valid
`-VC_RANGE_CHECK test_phelix_api.adb:51:12                   => 70.0 ms/70.0 ms/110.0 ms
 `-Z3: 70.0 ms, 75881 steps, Valid
 `-Z3: 40.0 ms, 8780 steps, Valid
`-VC_RANGE_CHECK test_phelix_api.adb:51:12                   => 70.0 ms/70.0 ms/110.0 ms
 `-Z3: 70.0 ms, 86421 steps, Valid
 `-Z3: 40.0 ms, 9237 steps, Valid
`-VC_RANGE_CHECK test_phelix_api.adb:53:12                   => 70.0 ms/70.0 ms/110.0 ms
 `-Z3: 70.0 ms, 78062 steps, Valid
 `-Z3: 40.0 ms, 8754 steps, Valid
`-VC_RANGE_CHECK test_phelix_api.adb:55:12                   => 60.0 ms/60.0 ms/100.0 ms
 `-Z3: 60.0 ms, 77054 steps, Valid
 `-Z3: 40.0 ms, 8752 steps, Valid
`-VC_PRECONDITION test_phelix_api.adb:72:25                  => 70.0 ms/70.0 ms/70.0 ms
 `-Z3: 70.0 ms, 91623 steps, Valid
`-VC_RANGE_CHECK test_phelix_api.adb:135:51                  => 50.0 ms/50.0 ms/50.0 ms
 `-Z3: 50.0 ms, 23894 steps, Valid
`-VC_PREDICATE_CHECK test_phelix_api.adb:74:60               => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 9803 steps, Valid
`-VC_PREDICATE_CHECK test_phelix_api.adb:94:60               => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 12926 steps, Valid
`-VC_PREDICATE_CHECK test_phelix_api.adb:118:60              => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 16382 steps, Valid
`-VC_PREDICATE_CHECK test_phelix_api.adb:131:60              => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 17220 steps, Valid
`-VC_RANGE_CHECK test_phelix_api.adb:79:64                   => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 14309 steps, Valid
Saatana.Crypto.Phelix.Finalize                               =>                              2.2 s/2.2 s/7.7 s
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:359:33 => 2.2 s/2.2 s/2.2 s
 `-Z3: 2.2 s, 2873006 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:342:16            => 180.0 ms/180.0 ms/630.0 ms
 `-Z3: 180.0 ms, 172495 steps, Valid
 `-Z3: 170.0 ms, 172495 steps, Valid
 `-Z3: 70.0 ms, 69935 steps, Valid
 `-Z3: 50.0 ms, 13161 steps, Valid
 `-Z3: 50.0 ms, 15847 steps, Valid
 `-Z3: 40.0 ms, 13161 steps, Valid
 `-Z3: 40.0 ms, 10101 steps, Valid
 `-Z3: 30.0 ms, 13161 steps, Valid
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:355:33 => 270.0 ms/270.0 ms/540.0 ms
 `-Z3: 270.0 ms, 309371 steps, Valid
 `-Z3: 70.0 ms, 80435 steps, Valid
 `-Z3: 70.0 ms, 80435 steps, Valid
 `-Z3: 70.0 ms, 80567 steps, Valid
 `-Z3: 60.0 ms, 18217 steps, Valid
`-VC_POSTCONDITION saatana-crypto-phelix.ads:314:17          => 140.0 ms/140.0 ms/420.0 ms
 `-Z3: 140.0 ms, 134884 steps, Valid
 `-Z3: 140.0 ms, 135273 steps, Valid
 `-Z3: 140.0 ms, 135873 steps, Valid
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:364:11           => 140.0 ms/140.0 ms/410.0 ms
 `-Z3: 140.0 ms, 139913 steps, Valid
 `-Z3: 140.0 ms, 141639 steps, Valid
 `-Z3: 130.0 ms, 146687 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:364:14            => 150.0 ms/150.0 ms/380.0 ms
 `-Z3: 150.0 ms, 147388 steps, Valid
 `-Z3: 140.0 ms, 128679 steps, Valid
 `-Z3: 50.0 ms, 13821 steps, Valid
 `-Z3: 40.0 ms, 13821 steps, Valid
`-VC_INDEX_CHECK saatana-crypto-phelix.adb:360:40            => 150.0 ms/150.0 ms/370.0 ms
 `-Z3: 150.0 ms, 147902 steps, Valid
 `-Z3: 120.0 ms, 104937 steps, Valid
 `-Z3: 50.0 ms, 18232 steps, Valid
 `-Z3: 50.0 ms, 12488 steps, Valid
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:355:33    => 130.0 ms/130.0 ms/330.0 ms
 `-Z3: 130.0 ms, 134648 steps, Valid
 `-Z3: 60.0 ms, 56046 steps, Valid
 `-Z3: 50.0 ms, 12473 steps, Valid
 `-Z3: 50.0 ms, 16561 steps, Valid
 `-Z3: 40.0 ms, 16561 steps, Valid
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:342:52           => 70.0 ms/70.0 ms/320.0 ms
 `-Z3: 70.0 ms, 48949 steps, Valid
 `-Z3: 70.0 ms, 48881 steps, Valid
 `-Z3: 50.0 ms, 13245 steps, Valid
 `-Z3: 50.0 ms, 15794 steps, Valid
 `-Z3: 40.0 ms, 13064 steps, Valid
 `-Z3: 40.0 ms, 10048 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:342:49           => 50.0 ms/50.0 ms/290.0 ms
 `-Z3: 50.0 ms, 10266 steps, Valid
 `-Z3: 50.0 ms, 15984 steps, Valid
 `-Z3: 50.0 ms, 15972 steps, Valid
 `-Z3: 50.0 ms, 10226 steps, Valid
 `-Z3: 50.0 ms, 16012 steps, Valid
 `-Z3: 40.0 ms, 10238 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_LOOP_VARIANT saatana-crypto-phelix.adb:352:10           => 180.0 ms/180.0 ms/180.0 ms
 `-Z3: 180.0 ms, 171466 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:339:94            => 50.0 ms/50.0 ms/180.0 ms
 `-Z3: 50.0 ms, 14871 steps, Valid
 `-Z3: 50.0 ms, 14847 steps, Valid
 `-Z3: 40.0 ms, 9083 steps, Valid
 `-Z3: 40.0 ms, 9059 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:348:55            => 50.0 ms/50.0 ms/170.0 ms
 `-Z3: 50.0 ms, 18029 steps, Valid
 `-Z3: 40.0 ms, 12283 steps, Valid
 `-Z3: 40.0 ms, 18005 steps, Valid
 `-Z3: 40.0 ms, 12259 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:330:52            => 50.0 ms/50.0 ms/160.0 ms
 `-Z3: 50.0 ms, 13149 steps, Valid
 `-Z3: 40.0 ms, 7307 steps, Valid
 `-Z3: 40.0 ms, 13125 steps, Valid
 `-Z3: 30.0 ms, 7283 steps, Valid
`-VC_INITIALIZATION_CHECK saatana-crypto-phelix.adb:364:14   => 150.0 ms/150.0 ms/150.0 ms
 `-Z3: 150.0 ms, 145387 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:364:14            => 150.0 ms/150.0 ms/150.0 ms
 `-Z3: 150.0 ms, 145179 steps, Valid
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:359:33    => 110.0 ms/110.0 ms/110.0 ms
 `-Z3: 110.0 ms, 111380 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:356:77         => 60.0 ms/60.0 ms/110.0 ms
 `-Z3: 60.0 ms, 18176 steps, Valid
 `-Z3: 50.0 ms, 12432 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:330:52         => 50.0 ms/50.0 ms/90.0 ms
 `-Z3: 50.0 ms, 13109 steps, Valid
 `-Z3: 40.0 ms, 7267 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:348:55         => 50.0 ms/50.0 ms/90.0 ms
 `-Z3: 50.0 ms, 17989 steps, Valid
 `-Z3: 40.0 ms, 12243 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:339:50            => 50.0 ms/50.0 ms/90.0 ms
 `-Z3: 50.0 ms, 14883 steps, Valid
 `-Z3: 40.0 ms, 9099 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:339:94         => 40.0 ms/40.0 ms/80.0 ms
 `-Z3: 40.0 ms, 14831 steps, Valid
 `-Z3: 40.0 ms, 9043 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:324:67            => 70.0 ms/70.0 ms/70.0 ms
 `-Z3: 70.0 ms, 67157 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:321:37         => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 6518 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:323:67         => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 6813 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:324:67         => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 6972 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:313:65         => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 6495 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:323:67            => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 6851 steps, Valid
Saatana.Crypto.Phelix.H                                      =>                              6.0 s/6.0 s/6.0 s
`-VC_POSTCONDITION saatana-crypto-phelix.adb:49:17           => 6.0 s/6.0 s/6.0 s
 `-Z3: 6.0 s, 11657168 steps, Valid
Saatana.Crypto.Phelix.Setup_Nonce                            =>                              360.0 ms/360.0 ms/4.9 s
`-VC_POSTCONDITION saatana-crypto-phelix.ads:206:17          => 360.0 ms/360.0 ms/2.6 s
 `-Z3: 360.0 ms, 293146 steps, Valid
 `-Z3: 360.0 ms, 285604 steps, Valid
 `-Z3: 350.0 ms, 284633 steps, Valid
 `-Z3: 350.0 ms, 285340 steps, Valid
 `-Z3: 350.0 ms, 285340 steps, Valid
 `-Z3: 350.0 ms, 285886 steps, Valid
 `-Z3: 330.0 ms, 285886 steps, Valid
 `-Z3: 120.0 ms, 168483 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:566:32            => 60.0 ms/60.0 ms/670.0 ms
 `-Z3: 60.0 ms, 61213 steps, Valid
 `-Z3: 50.0 ms, 43973 steps, Valid
 `-Z3: 50.0 ms, 52597 steps, Valid
 `-Z3: 50.0 ms, 43973 steps, Valid
 `-Z3: 50.0 ms, 61213 steps, Valid
 `-Z3: 40.0 ms, 52597 steps, Valid
 `-Z3: 40.0 ms, 36143 steps, Valid
 `-Z3: 40.0 ms, 12690 steps, Valid
 `-Z3: 40.0 ms, 10767 steps, Valid
 `-Z3: 40.0 ms, 8889 steps, Valid
 `-Z3: 40.0 ms, 14603 steps, Valid
 `-Z3: 40.0 ms, 14603 steps, Valid
 `-Z3: 40.0 ms, 12690 steps, Valid
 `-Z3: 30.0 ms, 8822 steps, Valid
 `-Z3: 30.0 ms, 10767 steps, Valid
 `-Z3: 30.0 ms, 8822 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:590:27         => 90.0 ms/90.0 ms/550.0 ms
 `-Z3: 90.0 ms, 37025 steps, Valid
 `-Z3: 90.0 ms, 40489 steps, Valid
 `-Z3: 80.0 ms, 33577 steps, Valid
 `-Z3: 70.0 ms, 30121 steps, Valid
 `-Z3: 60.0 ms, 23201 steps, Valid
 `-Z3: 60.0 ms, 26665 steps, Valid
 `-Z3: 50.0 ms, 19719 steps, Valid
 `-Z3: 50.0 ms, 16251 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:566:32            => 120.0 ms/120.0 ms/360.0 ms
 `-Z3: 120.0 ms, 104892 steps, Valid
 `-Z3: 100.0 ms, 89910 steps, Valid
 `-Z3: 80.0 ms, 76099 steps, Valid
 `-Z3: 60.0 ms, 63414 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:566:114        => 110.0 ms/110.0 ms/340.0 ms
 `-Z3: 110.0 ms, 93127 steps, Valid
 `-Z3: 100.0 ms, 81712 steps, Valid
 `-Z3: 70.0 ms, 70289 steps, Valid
 `-Z3: 60.0 ms, 59591 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:566:90         => 110.0 ms/110.0 ms/310.0 ms
 `-Z3: 110.0 ms, 92922 steps, Valid
 `-Z3: 90.0 ms, 81507 steps, Valid
 `-Z3: 80.0 ms, 70084 steps, Valid
 `-Z3: 30.0 ms, 8839 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:566:51         => 40.0 ms/40.0 ms/140.0 ms
 `-Z3: 40.0 ms, 12940 steps, Valid
 `-Z3: 40.0 ms, 17932 steps, Valid
 `-Z3: 30.0 ms, 15441 steps, Valid
 `-Z3: 30.0 ms, 8876 steps, Valid
Saatana.Crypto.Phelix.Process_AAD                            =>                              200.0 ms/200.0 ms/3.9 s
`-VC_POSTCONDITION saatana-crypto-phelix.ads:233:17          => 140.0 ms/140.0 ms/1.0 s
 `-Z3: 140.0 ms, 123258 steps, Valid
 `-Z3: 140.0 ms, 141083 steps, Valid
 `-Z3: 130.0 ms, 122476 steps, Valid
 `-Z3: 130.0 ms, 123245 steps, Valid
 `-Z3: 130.0 ms, 121314 steps, Valid
 `-Z3: 120.0 ms, 121161 steps, Valid
 `-Z3: 110.0 ms, 119503 steps, Valid
 `-Z3: 60.0 ms, 53620 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:440:53            => 110.0 ms/110.0 ms/580.0 ms
 `-Z3: 110.0 ms, 130612 steps, Valid
 `-Z3: 110.0 ms, 131026 steps, Valid
 `-Z3: 80.0 ms, 85273 steps, Valid
 `-Z3: 70.0 ms, 73280 steps, Valid
 `-Z3: 70.0 ms, 73262 steps, Valid
 `-Z3: 50.0 ms, 41374 steps, Valid
 `-Z3: 50.0 ms, 41386 steps, Valid
 `-Z3: 40.0 ms, 26971 steps, Valid
`-VC_INITIALIZATION_CHECK saatana-crypto-phelix.adb:440:53   => 200.0 ms/200.0 ms/280.0 ms
 `-Z3: 200.0 ms, 257040 steps, Valid
 `-Z3: 80.0 ms, 88059 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:446:38            => 160.0 ms/160.0 ms/280.0 ms
 `-Z3: 160.0 ms, 157651 steps, Valid
 `-Z3: 120.0 ms, 108417 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:440:53            => 150.0 ms/150.0 ms/230.0 ms
 `-Z3: 150.0 ms, 142677 steps, Valid
 `-Z3: 80.0 ms, 91055 steps, Valid
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:452:39 => 150.0 ms/150.0 ms/220.0 ms
 `-Z3: 150.0 ms, 153569 steps, Valid
 `-Z3: 70.0 ms, 50062 steps, Valid
`-VC_LOOP_VARIANT saatana-crypto-phelix.adb:449:16           => 200.0 ms/200.0 ms/200.0 ms
 `-Z3: 200.0 ms, 204223 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:433:38            => 120.0 ms/120.0 ms/190.0 ms
 `-Z3: 120.0 ms, 125781 steps, Valid
 `-Z3: 70.0 ms, 75114 steps, Valid
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:452:39    => 130.0 ms/130.0 ms/180.0 ms
 `-Z3: 130.0 ms, 111649 steps, Valid
 `-Z3: 50.0 ms, 53600 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:443:61            => 50.0 ms/50.0 ms/180.0 ms
 `-Z3: 50.0 ms, 18528 steps, Valid
 `-Z3: 50.0 ms, 18504 steps, Valid
 `-Z3: 40.0 ms, 13109 steps, Valid
 `-Z3: 40.0 ms, 13085 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:431:72            => 40.0 ms/40.0 ms/160.0 ms
 `-Z3: 40.0 ms, 8359 steps, Valid
 `-Z3: 40.0 ms, 13856 steps, Valid
 `-Z3: 40.0 ms, 13832 steps, Valid
 `-Z3: 40.0 ms, 8335 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:430:74            => 70.0 ms/70.0 ms/120.0 ms
 `-Z3: 70.0 ms, 78705 steps, Valid
 `-Z3: 50.0 ms, 43496 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:443:61         => 50.0 ms/50.0 ms/90.0 ms
 `-Z3: 50.0 ms, 18488 steps, Valid
 `-Z3: 40.0 ms, 13069 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.adb:431:72         => 40.0 ms/40.0 ms/80.0 ms
 `-Z3: 40.0 ms, 13816 steps, Valid
 `-Z3: 40.0 ms, 8319 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:418:42            => 60.0 ms/60.0 ms/60.0 ms
 `-Z3: 60.0 ms, 68529 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:425:43            => 60.0 ms/60.0 ms/60.0 ms
 `-Z3: 60.0 ms, 72597 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:231:37         => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 7981 steps, Valid
Saatana.Crypto.Phelix.Encrypt_Packet                         =>                              100.0 ms/100.0 ms/2.0 s
`-VC_PRECONDITION saatana-crypto-phelix.adb:281:7            => 80.0 ms/80.0 ms/230.0 ms
 `-Z3: 80.0 ms, 97217 steps, Valid
 `-Z3: 70.0 ms, 85943 steps, Valid
 `-Z3: 40.0 ms, 12694 steps, Valid
 `-Z3: 40.0 ms, 12642 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_PRECONDITION saatana-crypto-phelix.adb:277:7            => 70.0 ms/70.0 ms/230.0 ms
 `-Z3: 70.0 ms, 73530 steps, Valid
 `-Z3: 60.0 ms, 71011 steps, Valid
 `-Z3: 40.0 ms, 10485 steps, Valid
 `-Z3: 30.0 ms, 8201 steps, Valid
 `-Z3: 30.0 ms, 8199 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:283:37            => 70.0 ms/70.0 ms/230.0 ms
 `-Z3: 70.0 ms, 86953 steps, Valid
 `-Z3: 70.0 ms, 87324 steps, Valid
 `-Z3: 50.0 ms, 39450 steps, Valid
 `-Z3: 40.0 ms, 25620 steps, Valid
`-VC_POSTCONDITION saatana-crypto-phelix.ads:130:17          => 90.0 ms/90.0 ms/220.0 ms
 `-Z3: 90.0 ms, 99493 steps, Valid
 `-Z3: 50.0 ms, 45146 steps, Valid
 `-Z3: 40.0 ms, 10917 steps, Valid
 `-Z3: 40.0 ms, 14381 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:279:68           => 80.0 ms/80.0 ms/210.0 ms
 `-Z3: 80.0 ms, 85376 steps, Valid
 `-Z3: 70.0 ms, 79586 steps, Valid
 `-Z3: 60.0 ms, 79236 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:279:7             => 70.0 ms/70.0 ms/210.0 ms
 `-Z3: 70.0 ms, 90855 steps, Valid
 `-Z3: 60.0 ms, 85307 steps, Valid
 `-Z3: 40.0 ms, 37080 steps, Valid
 `-Z3: 40.0 ms, 23668 steps, Valid
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:279:65           => 50.0 ms/50.0 ms/140.0 ms
 `-Z3: 50.0 ms, 37974 steps, Valid
 `-Z3: 50.0 ms, 37986 steps, Valid
 `-Z3: 40.0 ms, 24517 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_ASSERT saatana-crypto-phelix.adb:292:22                 => 100.0 ms/100.0 ms/100.0 ms
 `-Z3: 100.0 ms, 122333 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:279:44         => 80.0 ms/80.0 ms/80.0 ms
 `-Z3: 80.0 ms, 85833 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:279:60         => 80.0 ms/80.0 ms/80.0 ms
 `-Z3: 80.0 ms, 85082 steps, Valid
`-VC_PRECONDITION saatana-crypto-phelix.adb:285:7            => 50.0 ms/50.0 ms/80.0 ms
 `-Z3: 50.0 ms, 55115 steps, Valid
 `-Z3: 30.0 ms, 13938 steps, Valid
`-VC_PRECONDITION saatana-crypto-phelix.adb:275:7            => 40.0 ms/40.0 ms/70.0 ms
 `-Z3: 40.0 ms, 7803 steps, Valid
 `-Z3: 30.0 ms, 7814 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:283:58         => 50.0 ms/50.0 ms/50.0 ms
 `-Z3: 50.0 ms, 49345 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:129:65         => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 7901 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:279:87            => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 11288 steps, Valid
Saatana.Crypto.Phelix.Decrypt_Packet                         =>                              110.0 ms/110.0 ms/1.9 s
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:175:7             => 80.0 ms/80.0 ms/240.0 ms
 `-Z3: 80.0 ms, 83982 steps, Valid
 `-Z3: 70.0 ms, 89834 steps, Valid
 `-Z3: 50.0 ms, 36479 steps, Valid
 `-Z3: 40.0 ms, 23223 steps, Valid
`-VC_RANGE_CHECK saatana-crypto-phelix.adb:179:37            => 80.0 ms/80.0 ms/240.0 ms
 `-Z3: 80.0 ms, 85494 steps, Valid
 `-Z3: 70.0 ms, 85881 steps, Valid
 `-Z3: 50.0 ms, 38753 steps, Valid
 `-Z3: 40.0 ms, 25115 steps, Valid
`-VC_PRECONDITION saatana-crypto-phelix.adb:173:7            => 70.0 ms/70.0 ms/230.0 ms
 `-Z3: 70.0 ms, 73530 steps, Valid
 `-Z3: 60.0 ms, 71011 steps, Valid
 `-Z3: 40.0 ms, 10485 steps, Valid
 `-Z3: 30.0 ms, 8201 steps, Valid
 `-Z3: 30.0 ms, 8199 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_PRECONDITION saatana-crypto-phelix.adb:177:7            => 70.0 ms/70.0 ms/220.0 ms
 `-Z3: 70.0 ms, 95575 steps, Valid
 `-Z3: 70.0 ms, 84633 steps, Valid
 `-Z3: 40.0 ms, 12463 steps, Valid
 `-Z3: 40.0 ms, 12411 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_POSTCONDITION saatana-crypto-phelix.ads:171:17          => 90.0 ms/90.0 ms/210.0 ms
 `-Z3: 90.0 ms, 98183 steps, Valid
 `-Z3: 50.0 ms, 44449 steps, Valid
 `-Z3: 40.0 ms, 14150 steps, Valid
 `-Z3: 30.0 ms, 10726 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:175:68           => 50.0 ms/50.0 ms/130.0 ms
 `-Z3: 50.0 ms, 47014 steps, Valid
 `-Z3: 40.0 ms, 13214 steps, Valid
 `-Z3: 40.0 ms, 13272 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_LENGTH_CHECK saatana-crypto-phelix.adb:175:65           => 40.0 ms/40.0 ms/120.0 ms
 `-Z3: 40.0 ms, 37373 steps, Valid
 `-Z3: 40.0 ms, 37385 steps, Valid
 `-Z3: 40.0 ms, 24072 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_ASSERT saatana-crypto-phelix.adb:188:22                 => 110.0 ms/110.0 ms/110.0 ms
 `-Z3: 110.0 ms, 121758 steps, Valid
 `-Trivial: 0.0 s, 0 steps, Valid
`-VC_PRECONDITION saatana-crypto-phelix.adb:181:7            => 50.0 ms/50.0 ms/90.0 ms
 `-Z3: 50.0 ms, 54293 steps, Valid
 `-Z3: 40.0 ms, 13707 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:175:60         => 80.0 ms/80.0 ms/80.0 ms
 `-Z3: 80.0 ms, 84146 steps, Valid
`-VC_PRECONDITION saatana-crypto-phelix.adb:171:7            => 40.0 ms/40.0 ms/80.0 ms
 `-Z3: 40.0 ms, 7814 steps, Valid
 `-Z3: 40.0 ms, 7803 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:175:44         => 70.0 ms/70.0 ms/70.0 ms
 `-Z3: 70.0 ms, 84442 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto-phelix.adb:179:58         => 60.0 ms/60.0 ms/60.0 ms
 `-Z3: 60.0 ms, 48523 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:170:65         => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 7901 steps, Valid
Saatana.Crypto.To_Stream                                     =>                              40.0 ms/40.0 ms/920.0 ms
`-VC_POSTCONDITION saatana-crypto.ads:58:17                  => 40.0 ms/40.0 ms/110.0 ms
 `-Z3: 40.0 ms, 17119 steps, Valid
 `-Z3: 40.0 ms, 16476 steps, Valid
 `-Z3: 30.0 ms, 22229 steps, Valid
`-VC_RANGE_CHECK saatana-crypto.ads:59:73                    => 30.0 ms/30.0 ms/60.0 ms
 `-Z3: 30.0 ms, 1671 steps, Valid
 `-Z3: 30.0 ms, 1647 steps, Valid
`-VC_RANGE_CHECK saatana-crypto.ads:60:73                    => 30.0 ms/30.0 ms/60.0 ms
 `-Z3: 30.0 ms, 1679 steps, Valid
 `-Z3: 30.0 ms, 1647 steps, Valid
`-VC_RANGE_CHECK saatana-crypto.ads:61:73                    => 30.0 ms/30.0 ms/60.0 ms
 `-Z3: 30.0 ms, 1679 steps, Valid
 `-Z3: 30.0 ms, 1647 steps, Valid
`-VC_RANGE_CHECK saatana-crypto.ads:62:73                    => 30.0 ms/30.0 ms/60.0 ms
 `-Z3: 30.0 ms, 1669 steps, Valid
 `-Z3: 30.0 ms, 1647 steps, Valid
`-VC_RANGE_CHECK saatana-crypto.ads:86:36                    => 30.0 ms/30.0 ms/60.0 ms
 `-Z3: 30.0 ms, 1461 steps, Valid
 `-Z3: 30.0 ms, 1429 steps, Valid
`-VC_RANGE_CHECK saatana-crypto.ads:87:36                    => 30.0 ms/30.0 ms/60.0 ms
 `-Z3: 30.0 ms, 1461 steps, Valid
 `-Z3: 30.0 ms, 1429 steps, Valid
`-VC_RANGE_CHECK saatana-crypto.ads:88:36                    => 30.0 ms/30.0 ms/60.0 ms
 `-Z3: 30.0 ms, 1447 steps, Valid
 `-Z3: 30.0 ms, 1425 steps, Valid
`-VC_RANGE_CHECK saatana-crypto.ads:85:36                    => 30.0 ms/30.0 ms/50.0 ms
 `-Z3: 30.0 ms, 1437 steps, Valid
 `-Z3: 20.0 ms, 1413 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto.ads:59:73                 => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 1631 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto.ads:60:73                 => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 1631 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto.ads:61:73                 => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 1631 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto.ads:62:73                 => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 1631 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto.ads:85:36                 => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 1393 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto.ads:86:26                 => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 1393 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto.ads:86:36                 => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 1393 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto.ads:87:26                 => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 1393 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto.ads:87:36                 => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 1393 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto.ads:88:26                 => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 1393 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto.ads:85:26                 => 20.0 ms/20.0 ms/20.0 ms
 `-Z3: 20.0 ms, 1393 steps, Valid
`-VC_DIVISION_CHECK saatana-crypto.ads:88:36                 => 20.0 ms/20.0 ms/20.0 ms
 `-Z3: 20.0 ms, 1393 steps, Valid
Saatana.Crypto.To_Unsigned                                   =>                              80.0 ms/80.0 ms/810.0 ms
`-VC_POSTCONDITION saatana-crypto.ads:44:17                  => 80.0 ms/80.0 ms/80.0 ms
 `-Z3: 80.0 ms, 72790 steps, Valid
`-VC_INDEX_CHECK saatana-crypto.ads:98:61                    => 40.0 ms/40.0 ms/70.0 ms
 `-Z3: 40.0 ms, 16090 steps, Valid
 `-Z3: 30.0 ms, 1702 steps, Valid
`-VC_INDEX_CHECK saatana-crypto.ads:99:61                    => 40.0 ms/40.0 ms/70.0 ms
 `-Z3: 40.0 ms, 15083 steps, Valid
 `-Z3: 30.0 ms, 1567 steps, Valid
`-VC_INDEX_CHECK saatana-crypto.ads:44:99                    => 30.0 ms/30.0 ms/60.0 ms
 `-Z3: 30.0 ms, 3095 steps, Valid
 `-Z3: 30.0 ms, 2325 steps, Valid
`-VC_INDEX_CHECK saatana-crypto.ads:46:106                   => 30.0 ms/30.0 ms/60.0 ms
 `-Z3: 30.0 ms, 2934 steps, Valid
 `-Z3: 30.0 ms, 2086 steps, Valid
`-VC_INDEX_CHECK saatana-crypto.ads:47:106                   => 30.0 ms/30.0 ms/60.0 ms
 `-Z3: 30.0 ms, 2797 steps, Valid
 `-Z3: 30.0 ms, 1971 steps, Valid
`-VC_INDEX_CHECK saatana-crypto.ads:97:61                    => 30.0 ms/30.0 ms/60.0 ms
 `-Z3: 30.0 ms, 2377 steps, Valid
 `-Z3: 30.0 ms, 1835 steps, Valid
`-VC_INDEX_CHECK saatana-crypto.ads:100:61                   => 30.0 ms/30.0 ms/60.0 ms
 `-Z3: 30.0 ms, 14464 steps, Valid
 `-Z3: 30.0 ms, 1424 steps, Valid
`-VC_INDEX_CHECK saatana-crypto.ads:45:106                   => 30.0 ms/30.0 ms/50.0 ms
 `-Z3: 30.0 ms, 2213 steps, Valid
 `-Z3: 20.0 ms, 3083 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto.ads:98:61                 => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 16193 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto.ads:99:61                 => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 15186 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto.ads:100:61                => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 14569 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto.ads:45:106                => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 3591 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto.ads:46:106                => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 3430 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto.ads:47:106                => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 3281 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto.ads:97:61                 => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 2455 steps, Valid
Saatana.Crypto.Lemmas                                        =>                              210.0 ms/210.0 ms/700.0 ms
`-VC_ASSERT saatana-crypto-lemmas.ads:61:19                  => 210.0 ms/210.0 ms/210.0 ms
 `-Z3: 210.0 ms, 186828 steps, Valid
`-VC_ASSERT saatana-crypto-lemmas.ads:67:19                  => 130.0 ms/130.0 ms/130.0 ms
 `-Z3: 130.0 ms, 71137 steps, Valid
`-VC_ASSERT saatana-crypto-lemmas.ads:54:19                  => 110.0 ms/110.0 ms/110.0 ms
 `-Z3: 110.0 ms, 70324 steps, Valid
`-VC_ASSERT saatana-crypto-lemmas.ads:46:19                  => 100.0 ms/100.0 ms/100.0 ms
 `-Z3: 100.0 ms, 72838 steps, Valid
`-VC_ASSERT saatana-crypto-lemmas.ads:72:19                  => 80.0 ms/80.0 ms/80.0 ms
 `-Z3: 80.0 ms, 56667 steps, Valid
`-VC_ASSERT saatana-crypto-lemmas.ads:31:19                  => 70.0 ms/70.0 ms/70.0 ms
 `-Z3: 70.0 ms, 71988 steps, Valid
Saatana.Crypto.Phelix.Exclusive_Or                           =>                              110.0 ms/110.0 ms/540.0 ms
`-VC_INDEX_CHECK saatana-crypto-phelix.adb:304:89            => 40.0 ms/40.0 ms/120.0 ms
 `-Z3: 40.0 ms, 13108 steps, Valid
 `-Z3: 30.0 ms, 1186 steps, Valid
 `-Z3: 30.0 ms, 906 steps, Valid
 `-Z3: 20.0 ms, 1272 steps, Valid
`-VC_LOOP_INVARIANT_PRESERV saatana-crypto-phelix.adb:303:33 => 110.0 ms/110.0 ms/110.0 ms
 `-Z3: 110.0 ms, 223374 steps, Valid
`-VC_INDEX_CHECK saatana-crypto-phelix.adb:304:72            => 30.0 ms/30.0 ms/110.0 ms
 `-Z3: 30.0 ms, 1232 steps, Valid
 `-Z3: 30.0 ms, 1228 steps, Valid
 `-Z3: 30.0 ms, 950 steps, Valid
 `-Z3: 20.0 ms, 954 steps, Valid
`-VC_INDEX_CHECK saatana-crypto-phelix.adb:304:45            => 30.0 ms/30.0 ms/100.0 ms
 `-Z3: 30.0 ms, 1254 steps, Valid
 `-Z3: 30.0 ms, 1250 steps, Valid
 `-Z3: 20.0 ms, 976 steps, Valid
 `-Z3: 20.0 ms, 972 steps, Valid
`-VC_POSTCONDITION saatana-crypto-phelix.adb:23:17           => 70.0 ms/70.0 ms/70.0 ms
 `-Z3: 70.0 ms, 137854 steps, Valid
`-VC_LOOP_INVARIANT_INIT saatana-crypto-phelix.adb:303:33    => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 4197 steps, Valid
Saatana.Crypto.Oadd                                          =>                              40.0 ms/40.0 ms/310.0 ms
`-VC_INDEX_CHECK saatana-crypto.adb:51:41                    => 40.0 ms/40.0 ms/80.0 ms
 `-Z3: 40.0 ms, 23592 steps, Valid
 `-Z3: 40.0 ms, 12118 steps, Valid
`-VC_INDEX_CHECK saatana-crypto.adb:50:42                    => 30.0 ms/30.0 ms/60.0 ms
 `-Z3: 30.0 ms, 2022 steps, Valid
 `-Z3: 30.0 ms, 2022 steps, Valid
`-VC_INDEX_CHECK saatana-crypto.adb:50:42                    => 30.0 ms/30.0 ms/60.0 ms
 `-Z3: 30.0 ms, 2147 steps, Valid
 `-Z3: 30.0 ms, 2147 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto.adb:48:63                 => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 21182 steps, Valid
`-VC_OVERFLOW_CHECK saatana-crypto.adb:48:78                 => 40.0 ms/40.0 ms/40.0 ms
 `-Z3: 40.0 ms, 23276 steps, Valid
`-VC_RANGE_CHECK saatana-crypto.adb:48:78                    => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 24255 steps, Valid
Saatana.Crypto.Oadd.Add_Carry                                =>                              30.0 ms/30.0 ms/90.0 ms
`-VC_POSTCONDITION saatana-crypto.adb:27:20                  => 30.0 ms/30.0 ms/90.0 ms
 `-Z3: 30.0 ms, 1336 steps, Valid
 `-Z3: 30.0 ms, 9190 steps, Valid
 `-Z3: 30.0 ms, 10020 steps, Valid
Saatana.Crypto.Phelix.Key_Size_32Predicate                   =>                              30.0 ms/30.0 ms/30.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:61:39          => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 480 steps, Valid
Saatana.Crypto.Phelix.MAC_Size_32Predicate                   =>                              30.0 ms/30.0 ms/30.0 ms
`-VC_DIVISION_CHECK saatana-crypto-phelix.ads:58:39          => 30.0 ms/30.0 ms/30.0 ms
 `-Z3: 30.0 ms, 480 steps, Valid
Saatana                                                      =>                              0.0 s/0.0 s/0.0 s
Saatana.Crypto                                               =>                              0.0 s/0.0 s/0.0 s
Saatana.Crypto.Phelix                                        =>                              0.0 s/0.0 s/0.0 s
Saatana.Crypto.Phelix.Context                                =>                              0.0 s/0.0 s/0.0 s
Saatana.Crypto.Phelix.Ctx_AAD_Len                            =>                              0.0 s/0.0 s/0.0 s
Saatana.Crypto.Phelix.Ctx_I                                  =>                              0.0 s/0.0 s/0.0 s
Saatana.Crypto.Phelix.Ctx_Key_Size                           =>                              0.0 s/0.0 s/0.0 s
Saatana.Crypto.Phelix.Ctx_Mac_Size                           =>                              0.0 s/0.0 s/0.0 s
Saatana.Crypto.Phelix.Ctx_Msg_Len                            =>                              0.0 s/0.0 s/0.0 s
Saatana.Crypto.Phelix.Setup_Key_Called                       =>                              0.0 s/0.0 s/0.0 s
Saatana.Crypto.Phelix.Setup_Nonce_Called                     =>                              0.0 s/0.0 s/0.0 s
