Warning: Sorting files by success time not implemented yet, falling back to maximum time.
rflx-rflx_types.spark => (Flow  => 7.2 ms,
                          Proof => 54.2 s/120.0 s/4.5 ks)
RFLX.RFLX_Types.U64_Insert                                     =>                              54.2 s/120.0 s/1.6 ks
`-VC_PRECONDITION rflx-rflx_generic_types.adb:221:39           => 5.2 s/120.0 s/490.6 s
`-VC_PRECONDITION rflx-rflx_generic_types.adb:259:19           => 5.9 s/120.0 s/251.9 s
`-VC_PRECONDITION rflx-rflx_generic_types.adb:251:19           => 1.6 s/120.0 s/243.2 s
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:282:48            => 297.4 ms/120.0 s/240.3 s
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:229:59            => 54.2 s/120.0 s/174.2 s
`-VC_PRECONDITION rflx-rflx_generic_types.adb:278:38           => 26.6 s/120.0 s/146.7 s
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:229:49         => 160.0 ms/160.0 ms/320.0 ms
`-VC_PRECONDITION rflx-rflx_generic_types.adb:224:39           => 210.0 ms/210.0 ms/310.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:229:59         => 250.0 ms/250.0 ms/250.0 ms
`-VC_PRECONDITION rflx-rflx_generic_types.adb:229:13           => 200.0 ms/200.0 ms/250.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:278:55            => 240.0 ms/240.0 ms/240.0 ms
`-VC_PRECONDITION rflx-rflx_generic_types.adb:282:13           => 180.0 ms/180.0 ms/200.0 ms
`-VC_PRECONDITION rflx-rflx_generic_types.adb:258:13           => 90.0 ms/90.0 ms/140.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:257:67            => 70.0 ms/70.0 ms/140.0 ms
`-VC_PRECONDITION rflx-rflx_generic_types.adb:226:45           => 50.0 ms/50.0 ms/140.0 ms
`-VC_PRECONDITION rflx-rflx_generic_types.adb:278:61           => 110.0 ms/110.0 ms/130.0 ms
`-VC_PRECONDITION rflx-rflx_generic_types.adb:250:13           => 60.0 ms/60.0 ms/110.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:282:48         => 100.0 ms/100.0 ms/100.0 ms
`-VC_PRECONDITION rflx-rflx_generic_types.adb:248:39           => 20.0 ms/20.0 ms/100.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:257:92            => 70.0 ms/70.0 ms/90.0 ms
`-VC_PRECONDITION rflx-rflx_generic_types.adb:280:59           => 20.0 ms/20.0 ms/90.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:245:52            => 80.0 ms/80.0 ms/80.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:259:58            => 80.0 ms/80.0 ms/80.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:280:79            => 80.0 ms/80.0 ms/80.0 ms
`-VC_PRECONDITION rflx-rflx_generic_types.adb:221:62           => 60.0 ms/60.0 ms/80.0 ms
`-VC_PRECONDITION rflx-rflx_generic_types.adb:245:58           => 50.0 ms/50.0 ms/80.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:257:67         => 50.0 ms/50.0 ms/70.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:257:80         => 50.0 ms/50.0 ms/70.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:257:97         => 50.0 ms/50.0 ms/70.0 ms
`-VC_PRECONDITION rflx-rflx_generic_types.adb:219:59           => 40.0 ms/40.0 ms/70.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:255:29         => 60.0 ms/60.0 ms/60.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:259:71         => 60.0 ms/60.0 ms/60.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:259:88         => 60.0 ms/60.0 ms/60.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:221:56            => 60.0 ms/60.0 ms/60.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:259:83            => 60.0 ms/60.0 ms/60.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:250:48            => 50.0 ms/50.0 ms/60.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:257:56         => 40.0 ms/40.0 ms/60.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:226:84         => 50.0 ms/50.0 ms/50.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:255:46         => 50.0 ms/50.0 ms/50.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:259:58         => 50.0 ms/50.0 ms/50.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:259:83         => 50.0 ms/50.0 ms/50.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:219:53            => 50.0 ms/50.0 ms/50.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:173:46         => 40.0 ms/40.0 ms/40.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:176:73         => 40.0 ms/40.0 ms/40.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:250:48         => 40.0 ms/40.0 ms/40.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:226:84            => 40.0 ms/40.0 ms/40.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:257:92         => 20.0 ms/20.0 ms/40.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:181:52         => 30.0 ms/30.0 ms/30.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:217:44            => 30.0 ms/30.0 ms/30.0 ms
`-VC_DIVISION_CHECK rflx-rflx_generic_types.adb:173:64         => 20.0 ms/20.0 ms/20.0 ms
`-VC_DIVISION_CHECK rflx-rflx_generic_types.adb:176:101        => 20.0 ms/20.0 ms/20.0 ms
`-VC_DIVISION_CHECK rflx-rflx_generic_types.adb:181:82         => 20.0 ms/20.0 ms/20.0 ms
`-VC_LOOP_INVARIANT_INIT rflx-rflx_generic_types.adb:257:36    => 20.0 ms/20.0 ms/20.0 ms
`-VC_LOOP_INVARIANT_PRESERV rflx-rflx_generic_types.adb:257:36 => 20.0 ms/20.0 ms/20.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:181:65         => 20.0 ms/20.0 ms/20.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:221:99         => 20.0 ms/20.0 ms/20.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:225:50         => 20.0 ms/20.0 ms/20.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:226:101        => 20.0 ms/20.0 ms/20.0 ms
`-VC_PRECONDITION rflx-rflx_generic_types.adb:219:39           => 20.0 ms/20.0 ms/20.0 ms
`-VC_PRECONDITION rflx-rflx_generic_types.adb:245:38           => 20.0 ms/20.0 ms/20.0 ms
`-VC_PRECONDITION rflx-rflx_generic_types.adb:246:38           => 20.0 ms/20.0 ms/20.0 ms
`-VC_PRECONDITION rflx-rflx_generic_types.adb:277:38           => 20.0 ms/20.0 ms/20.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:179:50            => 20.0 ms/20.0 ms/20.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:181:96            => 20.0 ms/20.0 ms/20.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:224:59            => 20.0 ms/20.0 ms/20.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:248:59            => 20.0 ms/20.0 ms/20.0 ms
`-VC_DIVISION_CHECK rflx-rflx_generic_types.adb:175:64         => 10.0 ms/10.0 ms/10.0 ms
`-VC_DIVISION_CHECK rflx-rflx_generic_types.adb:178:64         => 10.0 ms/10.0 ms/10.0 ms
`-VC_DIVISION_CHECK rflx-rflx_generic_types.adb:258:36         => 10.0 ms/10.0 ms/10.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:259:47         => 10.0 ms/10.0 ms/10.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:182:50            => 10.0 ms/10.0 ms/10.0 ms
RFLX.RFLX_Types.U64_Extract                                    =>                              37.9 s/120.0 s/1.8 ks
`-VC_PRECONDITION rflx-rflx_generic_types.adb:131:29           => 37.9 s/120.0 s/1.1 ks
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:131:27         => 27.1 s/120.0 s/147.1 s
`-VC_LOOP_INVARIANT_PRESERV rflx-rflx_generic_types.adb:137:33 => 25.0 s/120.0 s/145.0 s
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:147:30         => 24.8 s/120.0 s/144.8 s
`-VC_POSTCONDITION rflx-rflx_generic_types.adb:101:9           => 23.3 s/120.0 s/143.3 s
`-VC_DIVISION_CHECK rflx-rflx_generic_types.adb:151:52         => 19.6 s/120.0 s/139.6 s
`-VC_PRECONDITION rflx-rflx_generic_types.adb:132:65           => 170.0 ms/170.0 ms/580.0 ms
`-VC_PRECONDITION rflx-rflx_generic_types.adb:131:65           => 180.0 ms/180.0 ms/570.0 ms
`-VC_PRECONDITION rflx-rflx_generic_types.adb:145:35           => 160.0 ms/160.0 ms/280.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:131:59            => 130.0 ms/130.0 ms/190.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:132:59            => 90.0 ms/90.0 ms/130.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:145:62            => 100.0 ms/100.0 ms/100.0 ms
`-VC_PRECONDITION rflx-rflx_generic_types.adb:145:68           => 50.0 ms/50.0 ms/100.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:132:70         => 40.0 ms/40.0 ms/100.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:135:78         => 40.0 ms/40.0 ms/100.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:135:65         => 40.0 ms/40.0 ms/90.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:135:78            => 30.0 ms/30.0 ms/70.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:137:58         => 40.0 ms/40.0 ms/60.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:139:61         => 40.0 ms/40.0 ms/60.0 ms
`-VC_LOOP_INVARIANT_PRESERV rflx-rflx_generic_types.adb:136:33 => 50.0 ms/50.0 ms/50.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:137:46         => 40.0 ms/40.0 ms/50.0 ms
`-VC_LOOP_INVARIANT_INIT rflx-rflx_generic_types.adb:137:33    => 30.0 ms/30.0 ms/50.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:144:68            => 40.0 ms/40.0 ms/40.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:136:35         => 20.0 ms/20.0 ms/40.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:139:73         => 20.0 ms/20.0 ms/40.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:139:86            => 20.0 ms/20.0 ms/40.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:109:52         => 30.0 ms/30.0 ms/30.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:109:65         => 30.0 ms/30.0 ms/30.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:129:39         => 30.0 ms/30.0 ms/30.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:144:68         => 30.0 ms/30.0 ms/30.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:137:63         => 20.0 ms/20.0 ms/30.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:139:86         => 20.0 ms/20.0 ms/30.0 ms
`-VC_DIVISION_CHECK rflx-rflx_generic_types.adb:97:66          => 20.0 ms/20.0 ms/20.0 ms
`-VC_DIVISION_CHECK rflx-rflx_generic_types.adb:98:52          => 20.0 ms/20.0 ms/20.0 ms
`-VC_DIVISION_CHECK rflx-rflx_generic_types.adb:104:91         => 20.0 ms/20.0 ms/20.0 ms
`-VC_DIVISION_CHECK rflx-rflx_generic_types.adb:106:64         => 20.0 ms/20.0 ms/20.0 ms
`-VC_LOOP_INVARIANT_INIT rflx-rflx_generic_types.adb:136:33    => 20.0 ms/20.0 ms/20.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:97:48          => 20.0 ms/20.0 ms/20.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:98:34          => 20.0 ms/20.0 ms/20.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:104:73         => 20.0 ms/20.0 ms/20.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:107:50            => 20.0 ms/20.0 ms/20.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:109:96            => 20.0 ms/20.0 ms/20.0 ms
`-VC_DIVISION_CHECK rflx-rflx_generic_types.adb:99:46          => 10.0 ms/10.0 ms/10.0 ms
`-VC_DIVISION_CHECK rflx-rflx_generic_types.adb:103:64         => 10.0 ms/10.0 ms/10.0 ms
`-VC_DIVISION_CHECK rflx-rflx_generic_types.adb:109:82         => 10.0 ms/10.0 ms/10.0 ms
RFLX.RFLX_Types.U64_Extract_Remaining                          =>                              10.1 s/120.0 s/376.5 s
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:85:91          => 10.1 s/120.0 s/130.1 s
`-VC_PRECONDITION rflx-rflx_generic_types.adb:87:40            => 3.5 s/120.0 s/123.6 s
`-VC_DIVISION_CHECK rflx-rflx_generic_types.adb:87:58          => 1.2 s/120.0 s/121.2 s
`-VC_PRECONDITION rflx-rflx_generic_types.adb:89:14            => 90.0 ms/90.0 ms/360.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:85:52          => 120.0 ms/120.0 ms/240.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:82:43          => 200.0 ms/200.0 ms/200.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:79:33          => 110.0 ms/110.0 ms/110.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:83:47             => 100.0 ms/100.0 ms/100.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:89:75          => 90.0 ms/90.0 ms/90.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:89:51          => 80.0 ms/80.0 ms/80.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:85:74          => 20.0 ms/20.0 ms/60.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:81:75          => 20.0 ms/20.0 ms/40.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:81:62          => 20.0 ms/20.0 ms/30.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:82:65          => 20.0 ms/20.0 ms/30.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:81:75             => 20.0 ms/20.0 ms/30.0 ms
`-VC_POSTCONDITION rflx-rflx_generic_types.adb:78:9            => 10.0 ms/10.0 ms/30.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:75:21          => 20.0 ms/20.0 ms/20.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:83:34          => 20.0 ms/20.0 ms/20.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:83:47          => 20.0 ms/20.0 ms/20.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:83:60          => 20.0 ms/20.0 ms/20.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:87:81             => 20.0 ms/20.0 ms/20.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:89:51             => 20.0 ms/20.0 ms/20.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:81:88          => 10.0 ms/10.0 ms/20.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:79:20          => 10.0 ms/10.0 ms/10.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:79:46          => 10.0 ms/10.0 ms/10.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:83:101         => 10.0 ms/10.0 ms/10.0 ms
RFLX.RFLX_Types.U64_Extract_Intermediate                       =>                              6.7 s/120.0 s/617.3 s
`-VC_PRECONDITION rflx-rflx_generic_types.adb:62:39            => 6.7 s/120.0 s/126.8 s
`-VC_DIVISION_CHECK rflx-rflx_generic_types.adb:62:61          => 3.0 s/120.0 s/123.0 s
`-VC_PRECONDITION rflx-rflx_generic_types.adb:65:14            => 1.5 s/120.0 s/122.0 s
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:58:82          => 1.3 s/120.0 s/121.3 s
`-VC_DIVISION_CHECK rflx-rflx_generic_types.adb:63:49          => 40.0 ms/120.0 s/120.0 s
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:65:34          => 2.7 s/2.7 s/2.7 s
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:58:58          => 330.0 ms/330.0 ms/650.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:57:85          => 360.0 ms/360.0 ms/360.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:56:22          => 270.0 ms/270.0 ms/270.0 ms
`-VC_PRECONDITION rflx-rflx_generic_types.adb:60:33            => 20.0 ms/20.0 ms/80.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:57:69          => 20.0 ms/20.0 ms/30.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:62:86             => 20.0 ms/20.0 ms/20.0 ms
`-VC_POSTCONDITION rflx-rflx_generic_types.adb:56:9            => 10.0 ms/10.0 ms/20.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:54:26          => 10.0 ms/10.0 ms/10.0 ms
RFLX.RFLX_Types.U64_Extract.D                                  =>                              4.7 s/9.5 s/70.6 s
`-VC_ASSERT rflx-rflx_generic_types.adb:117:25                 => 4.7 s/9.5 s/14.2 s
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:117:41         => 2.1 s/9.3 s/11.4 s
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:120:77         => 60.0 ms/9.0 s/9.1 s
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:123:45            => 70.0 ms/9.0 s/9.1 s
`-VC_INDEX_CHECK rflx-rflx_generic_types.adb:121:43            => 40.0 ms/9.0 s/9.0 s
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:123:34            => 50.0 ms/9.0 s/9.0 s
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:121:75            => 40.0 ms/8.6 s/8.7 s
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:116:46         => 30.0 ms/30.0 ms/30.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:116:59         => 30.0 ms/30.0 ms/30.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:121:75         => 30.0 ms/30.0 ms/30.0 ms
`-VC_DIVISION_CHECK rflx-rflx_generic_types.adb:123:45         => 20.0 ms/20.0 ms/20.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:116:83         => 20.0 ms/20.0 ms/20.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:116:83            => 20.0 ms/20.0 ms/20.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:120:66            => 20.0 ms/20.0 ms/20.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:120:77            => 20.0 ms/20.0 ms/20.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:121:37            => 20.0 ms/20.0 ms/20.0 ms
`-VC_DIVISION_CHECK rflx-rflx_generic_types.adb:116:76         => 10.0 ms/10.0 ms/10.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:120:66         => 10.0 ms/10.0 ms/10.0 ms
RFLX.RFLX_Types.U64_Insert.Read                                =>                              20.0 ms/20.0 ms/70.0 ms
`-VC_INDEX_CHECK rflx-rflx_generic_types.adb:189:23            => 20.0 ms/20.0 ms/30.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:189:55         => 20.0 ms/20.0 ms/20.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:189:55            => 20.0 ms/20.0 ms/20.0 ms
RFLX.RFLX_Types.U64_Insert.Write                               =>                              20.0 ms/20.0 ms/70.0 ms
`-VC_INDEX_CHECK rflx-rflx_generic_types.adb:197:16            => 20.0 ms/20.0 ms/30.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.adb:197:48         => 20.0 ms/20.0 ms/20.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.adb:197:48            => 20.0 ms/20.0 ms/20.0 ms
RFLX.RFLX_Types.Byte_Index                                     =>                              10.0 ms/10.0 ms/30.0 ms
`-VC_DIVISION_CHECK rflx-rflx_generic_types.ads:36:36          => 10.0 ms/10.0 ms/10.0 ms
`-VC_OVERFLOW_CHECK rflx-rflx_generic_types.ads:36:41          => 10.0 ms/10.0 ms/10.0 ms
`-VC_RANGE_CHECK rflx-rflx_generic_types.ads:36:36             => 10.0 ms/10.0 ms/10.0 ms
RFLX.RFLX_Types.U64_Extract.D.ES                               =>                              10.0 ms/10.0 ms/10.0 ms
`-VC_POSTCONDITION rflx-rflx_generic_types.adb:115:65          => 10.0 ms/10.0 ms/10.0 ms
RFLX.RFLX_Types.Unreachable_Bit_Length                         =>                              10.0 ms/10.0 ms/10.0 ms
`-VC_INCONSISTENT_PRE rflx-rflx_generic_types.ads:69:10        => 10.0 ms/10.0 ms/10.0 ms
RFLX.RFLX_Types                                                =>                              0.0 s/0.0 s/0.0 s
RFLX.RFLX_Types.First_Bit_Index                                =>                              0.0 s/0.0 s/0.0 s
RFLX.RFLX_Types.Last_Bit_Index                                 =>                              0.0 s/0.0 s/0.0 s
