RFLX.RFLX_Types.U64_Extract              => 37.9 s (99104 steps)/120.0 s (99104 steps)/1.8 ks
RFLX.RFLX_Types.U64_Extract.D            => 4.7 s (308 steps)/9.5 s (308 steps)/70.6 s
RFLX.RFLX_Types.U64_Extract_Intermediate => 6.7 s (10674 steps)/120.0 s (10674 steps)/617.3 s
RFLX.RFLX_Types.U64_Extract_Remaining    => 10.1 s (25590 steps)/120.0 s (25590 steps)/376.5 s
RFLX.RFLX_Types.U64_Insert               => 54.2 s (94470 steps)/120.0 s (94470 steps)/1.6 ks
