SPARKNaCl.Sign.Sign                           =>                    --/57.6 s/489.2 s
`-VC_OVERFLOW_CHECK sparknacl-sign.adb:890:36 => --/57.6 s/238.7 s
 `-CVC4: 51.6 s, 505013 steps, Unknown (unknown)
  -Z3: 7.9 s, 11654552 steps, Unknown (unknown)
 `-CVC4: 50.5 s, 505013 steps, Unknown (unknown)
  -Z3: 8.8 s, 11654285 steps, Unknown (unknown)
 `-CVC4: 50.7 s, 505013 steps, Unknown (unknown)
  -Z3: 7.2 s, 11654931 steps, Unknown (unknown)
